force-app/main/default/flows/Imhotep_Project_AddMetadataComponent.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>setDraftMetadataComponent</name>
        <label>Set Draft Metadata Component</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varDraftMetadataComponent.Metadata_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_MetadataType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftMetadataComponent.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input02_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftMetadataComponent.API_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input02_APIName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftMetadataComponent.Parent_Metadata_Component__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input02_ParentMetadataComponent.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftMetadataComponent.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input02_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftMetadataComponent.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftMetadataComponent.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input02_Category</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createMetadataComponent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Only a Builder or Owner/Lead can create Metadata Components.</description>
        <name>decIsCurrentUserAuthorized</name>
        <label>Is Current User Authorized?</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Not Authorized</defaultConnectorLabel>
        <rules>
            <name>outCurrentUserAuthorizedYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflowCheckRole.outputIsAuthorized</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>s01</targetReference>
            </connector>
            <label>Authorized</label>
        </rules>
    </decisions>
    <description>Create a Metadata Component record when it already exists so it is available for recording Metadata Component Changes.</description>
    <dynamicChoiceSets>
        <name>choicesCategories</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>Metadata_Component__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>listMetadataType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Metadata_Type__c</picklistField>
        <picklistObject>Metadata_Component__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Imhotep - Story - Add Metadata Component {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <isTemplate>true</isTemplate>
    <label>Imhotep - Project - Add Metadata Component</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createMetadataComponent</name>
        <label>Create Metadata Component</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>s99</targetReference>
        </connector>
        <faultConnector>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <inputReference>varDraftMetadataComponent</inputReference>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>s01</name>
        <label>Metadata Type</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>s02</targetReference>
        </connector>
        <fields>
            <name>text01a</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Add an existing Metadata Component to the list so it can be used when logging changes in the app.  Select a metadata type to get started.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input01_MetadataType</name>
            <choiceReferences>listMetadataType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Metadata Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next &gt;</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s02</name>
        <label>Metadata Component Details</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>&lt; Back</backButtonLabel>
        <connector>
            <targetReference>setDraftMetadataComponent</targetReference>
        </connector>
        <fields>
            <name>text02a</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Provide some details about your {!input01_MetadataType}:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>s02_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s02_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input02_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Name / Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>input02_APIName</name>
                    <dataType>String</dataType>
                    <fieldText>API Name (if any)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s02_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input02_ParentMetadataComponent</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>iab__Parent_Metadata_Component__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Parent Metadata Component (if any)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>iab__Metadata_Component__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>input02_Category</name>
                    <choiceReferences>choicesCategories</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Custom</stringValue>
                    </defaultValue>
                    <fieldText>Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>input02_Notes</name>
            <fieldText>Notes (if any)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Add Metadata Component &gt;</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s99</name>
        <label>Completed</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text99a</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Your {!input01_MetadataType} has been successfully added as a Metadata Component.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>subflowCheckRole</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <description>Check to see if the current user is a Builder of the project.</description>
        <name>subflowCheckRole</name>
        <label>Check Role</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>decIsCurrentUserAuthorized</targetReference>
        </connector>
        <flowName>Imhotep_General_CheckProjectMemberRole</flowName>
        <inputAssignments>
            <name>inputProjectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRequiredRole</name>
            <value>
                <stringValue>Builder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>subflowHandleScreenError</name>
        <label>Handle Screen Error</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <flowName>Imhotep_General_ScreenFlowError</flowName>
        <inputAssignments>
            <name>inputFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowErrorScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Project recordId</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDraftMetadataComponent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Metadata_Component__c</objectType>
    </variables>
</Flow>
