force-app/main/default/flows/Imhotep_Project_WhenDeleted.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>setCountMembers</name>
        <label>Count Members</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>varCountProjectMembers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getProjectMembers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decAnyMembers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decAnyMembers</name>
        <label>Any Members?</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>outAnyMembersYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountProjectMembers</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>subflowDeleteAllPMs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Actions taken when a Project record is deleted.  This ensures loosely related records related to the project aren&apos;t left behind (e.g. Project Members, which isn&apos;t governed by a master-detail relationship).</description>
    <environments>Default</environments>
    <interviewLabel>Imhotep - Project - When Deleted {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Imhotep - Project - When Deleted</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getProjectMembers</name>
        <label>Get Project Members</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setCountMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getProjectMembers</targetReference>
        </connector>
        <object>Project__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>subflowDeleteAllPMs</name>
        <label>Delete All PMs</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <flowName>Imhotep_ProjectMember_CRUDActions</flowName>
        <inputAssignments>
            <name>inputProjectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputSelectedAction</name>
            <value>
                <stringValue>DeleteAllProjectMembers</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varCountProjectMembers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
