force-app/main/default/flows/Imhotep_Share_Create.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>setCountForExistingShare</name>
        <label>Set Count for Existing Share</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>varCountExistingShares</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getSearchForExistingShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decExistingShare</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDraftShareBuilder</name>
        <label>Set Draft Share (Builder)</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varRecDraftProjectShare.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProjectMember.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftProjectShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProjectMember.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftProjectShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>iab__Builder_Read_Write__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftProjectShare.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getSearchForExistingShare</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDraftShareOwnerLead</name>
        <label>Set Draft Share (Owner/Lead)</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varRecDraftProjectShare.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProjectMember.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftProjectShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProjectMember.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftProjectShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>iab__Owner_Lead_Read_Write__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftProjectShare.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getSearchForExistingShare</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDraftShareViewer</name>
        <label>Set Draft Share (Viewer)</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varRecDraftProjectShare.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProjectMember.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftProjectShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProjectMember.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftProjectShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>iab__Viewer_Read_Only__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftProjectShare.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getSearchForExistingShare</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decExistingShare</name>
        <label>Existing Share?</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>outExistingShareNO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountExistingShares</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createProjectMemberShare</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>decWhichRole</name>
        <label>Which Role?</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outRoleOwnerLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getProjectMember.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Owner/Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setDraftShareOwnerLead</targetReference>
            </connector>
            <label>Owner/Lead</label>
        </rules>
        <rules>
            <name>outRoleBuilder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getProjectMember.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Builder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setDraftShareBuilder</targetReference>
            </connector>
            <label>Builder</label>
        </rules>
        <rules>
            <name>outRoleViewer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getProjectMember.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Viewer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setDraftShareViewer</targetReference>
            </connector>
            <label>Viewer</label>
        </rules>
    </decisions>
    <description>Creates a Project__Share for a user.  Called upon as a subflow when a Project_Member__c record is created.</description>
    <environments>Default</environments>
    <interviewLabel>Imhotep - Share - Create {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <isTemplate>true</isTemplate>
    <label>Imhotep - Share - Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createProjectMemberShare</name>
        <label>Create Share for Project Member</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <inputReference>varRecDraftProjectShare</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getProjectMember</name>
        <label>Get Project Member</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decWhichRole</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputProjectMemberId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSearchForExistingShare</name>
        <label>Search for Existing Share</label>
        <locationX>446</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setCountForExistingShare</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getProjectMember.User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getProjectMember.Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccessLevel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccessLevel</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getProjectMember</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inputProjectMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccessLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountExistingShares</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varRecDraftProjectShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__Share</objectType>
    </variables>
    <variables>
        <name>varRowCause</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
