force-app/main/default/flows/Imhotep_Project_NewRelease.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>actionNavigateToNewRelease</name>
        <label>Navigate to New Release</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <actionName>iab:imhotepFlowNavigate</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varDraftRelease.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>iab:imhotepFlowNavigate</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>setDraftRelease</name>
        <label>Set Draft Release</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varDraftRelease.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subflowGetRecordTypes.outputReleaseRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftRelease.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftRelease.Is_Backlog__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_IsBacklog</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftRelease.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftRelease.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftRelease.Release_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_ReleaseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftRelease.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftRelease.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftRelease.Release_Mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_ReleaseMode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftRelease.Points_Goal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_PointsGoal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createRelease</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Only a Builder or Owner/Lead can create Releases.</description>
        <name>decIsCurrentUserAuthorized</name>
        <label>Is Current User Authorized?</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Not Authorized</defaultConnectorLabel>
        <rules>
            <name>outCurrentUserAuthorizedYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflowCheckRole.outputIsAuthorized</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>s01</targetReference>
            </connector>
            <label>Authorized</label>
        </rules>
    </decisions>
    <description>Create a new Release record.  Input variable(s):  recordId (Project record Id).</description>
    <dynamicChoiceSets>
        <name>choicesReleaseMode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Release_Mode__c</picklistField>
        <picklistObject>Release__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>listStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Release__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formulaToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formulaTodayPlus30</name>
        <dataType>Date</dataType>
        <expression>TODAY()+30</expression>
    </formulas>
    <interviewLabel>Imhotep - Project - New Release {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <isTemplate>true</isTemplate>
    <label>Imhotep - Project - New Release</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createRelease</name>
        <label>Create Release</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>actionNavigateToNewRelease</targetReference>
        </connector>
        <faultConnector>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <inputReference>varDraftRelease</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getProject</name>
        <label>Get Project</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>subflowCheckRole</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>s01</name>
        <label>New Release Details</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>subflowGetRecordTypes</targetReference>
        </connector>
        <fields>
            <name>text01a</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Create a New Release&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;Project:  {!getProject.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Please provide the details for your new release:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>s01_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s01_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input01_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>s01_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s01_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input01_IsBacklog</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Is this release a backlog?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>input01_Status</name>
                    <choiceReferences>listStatus</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Planning</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s01_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input01_StartDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>formulaToday</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>input01_ReleaseDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>formulaTodayPlus30</elementReference>
                    </defaultValue>
                    <fieldText>Release Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>input01_PointsGoal</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Points Goal</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;{!$Label.iab__ReleaseFieldPointsGoalHelp}&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>input01_ReleaseMode</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Standard</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>input01_Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>input01_ReleaseMode</name>
            <choiceReferences>choicesReleaseMode</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getProject.Default_Release_Mode__c</elementReference>
            </defaultValue>
            <fieldText>Release Mode</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Setting that controls the features and layout enabled for this release and its related stories.&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Default is Standard (all Imhotep features enabled).&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Individual releases and stories can override this selection.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Changing this field or the record type will convert this release and its related stories (field data will not be lost but it may be hidden on the page).&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Create Release</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getProject</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Check to see if the current user is a Builder of the project.</description>
        <name>subflowCheckRole</name>
        <label>Check Role</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>decIsCurrentUserAuthorized</targetReference>
        </connector>
        <flowName>Imhotep_General_CheckProjectMemberRole</flowName>
        <inputAssignments>
            <name>inputProjectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRequiredRole</name>
            <value>
                <stringValue>Builder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>subflowGetRecordTypes</name>
        <label>Get Record Types</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>setDraftRelease</targetReference>
        </connector>
        <flowName>Imhotep_General_GetRecordTypes</flowName>
        <inputAssignments>
            <name>inputReleaseMode</name>
            <value>
                <elementReference>input01_ReleaseMode</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>subflowHandleScreenError</name>
        <label>Handle Screen Error</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <flowName>Imhotep_General_ScreenFlowError</flowName>
        <inputAssignments>
            <name>inputFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowErrorScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Project recordId as an input variable</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDraftRelease</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Release__c</objectType>
    </variables>
</Flow>
