force-app/main/default/flows/Imhotep_Story_TestResultMenuActions.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setDraftTestResult</name>
        <label>Set Draft Test Result</label>
        <locationX>776</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varRecDraftTestResult</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTestResult</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decSelectedMenuIAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setUpdateDraftTestResult</name>
        <label>Update Draft Test Result</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varRecDraftTestResult.Tester_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_TesterFeedback.outputValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftTestResult.Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_Result</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftTestResult.Tester__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_AssignedTester</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftTestResult.Builder_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_BuilderNotes.outputValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftTestResult.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateTestResult</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Only a Builder or Owner/Lead can create test scenarios.</description>
        <name>decIsCurrentUserAuthorized</name>
        <label>Is Current User Authorized?</label>
        <locationX>1205</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Not Authorized</defaultConnectorLabel>
        <rules>
            <name>outCurrentUserAuthorizedYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflowCheckRole.outputIsAuthorized</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setDraftTestResult</targetReference>
            </connector>
            <label>Authorized</label>
        </rules>
    </decisions>
    <decisions>
        <description>Which button did the user click on?  See inputSelectedAction variable description for acceptable values.</description>
        <name>decSelectedMenuIAction</name>
        <label>Selected Menu Action?</label>
        <locationX>776</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outEditTestResult</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputSelectedAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EditTestResult</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>s01</targetReference>
            </connector>
            <label>EditTestResult</label>
        </rules>
        <rules>
            <name>outDeleteTestResult</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputSelectedAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DeleteTestResult</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deleteTestResult</targetReference>
            </connector>
            <label>DeleteTestResult</label>
        </rules>
    </decisions>
    <decisions>
        <name>decSendEmail_TestResultAssigned</name>
        <label>Send Email (TestResultAssigned)?</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>decSendEmail_TestResultRetest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>outSendEmail_TestResultAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecDraftTestResult.Tester__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>getTestResult.Tester__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>subflowSendEmail_TestResultAssigned</targetReference>
            </connector>
            <label>Yes (Assigned Tester Changed)</label>
        </rules>
    </decisions>
    <decisions>
        <description>Send the Story&apos;s assigned builder user an email notification if the Test Result&apos;s status has changed to Reported.  Only send the email when the current user isn&apos;t the Assigned user for the Story.</description>
        <name>decSendEmail_TestResultReported</name>
        <label>Send Email (TestResultReported)?</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>outSendEmail_TestResultReported</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecDraftTestResult.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reported</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getTestResult.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Reported</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formulaCurrentUserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varRecDraftTestResult.Story__r.Assigned__r.User__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>subflowSendEmail_TestResultReported</targetReference>
            </connector>
            <label>Yes (Test Result Reported)</label>
        </rules>
    </decisions>
    <decisions>
        <name>decSendEmail_TestResultRetest</name>
        <label>Send Email (TestResultRetest)?</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>decSendEmail_TestResultReported</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>outSendEmail_TestResultRetest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecDraftTestResult.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready to Retest</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getTestResult.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ready to Retest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>subflowSendEmail_TestResultRetest</targetReference>
            </connector>
            <label>Yes (Ready to Retest)</label>
        </rules>
    </decisions>
    <description>Handles actions selected from the menu of an existing Test Result record related to the current Story.  Input variable:  recordId (for Test Result record Id) and inputSelectedAction (EditTestResult, DeleteTestResult).</description>
    <dynamicChoiceSets>
        <name>choicesProjectMembers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecDraftTestResult.Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Builder</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Owner/Lead</stringValue>
            </value>
        </filters>
        <object>Project_Member__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>For Test Result object</description>
        <name>choicesResult</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Result__c</picklistField>
        <picklistObject>Test_Result__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choicesStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Test_Result__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Converts $User.Id from 15 to 18 digits</description>
        <name>formulaCurrentUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Imhotep - Story - Test Result Menu Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <isTemplate>true</isTemplate>
    <label>Imhotep - Story - Test Result Menu Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>deleteTestResult</name>
        <label>Delete Test Result</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <faultConnector>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <inputReference>varRecDraftTestResult</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>getTestResult</name>
        <label>Get Test Result</label>
        <locationX>1205</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>subflowCheckRole</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Test_Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateTestResult</name>
        <label>Update Test Result</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>decSendEmail_TestResultAssigned</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <inputReference>varRecDraftTestResult</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>s01</name>
        <label>Enter Details</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setUpdateDraftTestResult</targetReference>
        </connector>
        <fields>
            <name>text01a</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Update your test result:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>s01_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s01_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input01_TesterFeedback</name>
                    <extensionName>iab:imhotepFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>tooltipText</name>
                        <value>
                            <elementReference>$Label.iab__TestResultFieldTesterFeedbackHelp</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labelText</name>
                        <value>
                            <elementReference>$Label.iab__TestResultFieldTesterFeedbackLabel</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>varRecDraftTestResult.Tester_Feedback__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>input01_Result</name>
                    <choiceReferences>choicesResult</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varRecDraftTestResult.Result__c</elementReference>
                    </defaultValue>
                    <fieldText>Result</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>input01_AssignedTester</name>
                    <choiceReferences>choicesProjectMembers</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varRecDraftTestResult.Tester__c</elementReference>
                    </defaultValue>
                    <fieldText>Assigned Tester</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s01_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input01_BuilderNotes</name>
                    <extensionName>iab:imhotepFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>labelText</name>
                        <value>
                            <elementReference>$Label.iab__TestResultFieldBuilderNotesLabel</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>varRecDraftTestResult.Builder_Notes__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tooltipText</name>
                        <value>
                            <elementReference>$Label.iab__TestResultFieldBuilderNotesHelp</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>input01_Status</name>
                    <choiceReferences>choicesStatus</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varRecDraftTestResult.Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Update Test Result</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1079</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getTestResult</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Check to see if the current user is a Builder of the project.</description>
        <name>subflowCheckRole</name>
        <label>Check Role</label>
        <locationX>1205</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>decIsCurrentUserAuthorized</targetReference>
        </connector>
        <flowName>Imhotep_General_CheckProjectMemberRole</flowName>
        <inputAssignments>
            <name>inputProjectId</name>
            <value>
                <elementReference>getTestResult.Story__r.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRequiredRole</name>
            <value>
                <stringValue>Builder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>subflowHandleScreenError</name>
        <label>Handle Screen Error</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <flowName>Imhotep_General_ScreenFlowError</flowName>
        <inputAssignments>
            <name>inputFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowErrorScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>subflowSendEmail_TestResultAssigned</name>
        <label>Send Email (TestResultAssigned)</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>decSendEmail_TestResultRetest</targetReference>
        </connector>
        <flowName>Imhotep_General_SendEmail</flowName>
        <inputAssignments>
            <name>inputEmailType</name>
            <value>
                <stringValue>TestResultAssigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecipientUserId</name>
            <value>
                <elementReference>varRecDraftTestResult.Tester__r.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>subflowSendEmail_TestResultReported</name>
        <label>Send Email (TestResultReported)</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <flowName>Imhotep_General_SendEmail</flowName>
        <inputAssignments>
            <name>inputEmailType</name>
            <value>
                <stringValue>TestResultReported</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecipientUserId</name>
            <value>
                <elementReference>varRecDraftTestResult.Story__r.Assigned__r.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>subflowSendEmail_TestResultRetest</name>
        <label>Send Email (TestResultRetest)</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>decSendEmail_TestResultReported</targetReference>
        </connector>
        <flowName>Imhotep_General_SendEmail</flowName>
        <inputAssignments>
            <name>inputEmailType</name>
            <value>
                <stringValue>TestResultRetest</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecipientUserId</name>
            <value>
                <elementReference>varRecDraftTestResult.Tester__r.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Acceptable values include:  EditTestScenario, NewTestResults, StatusNotReady, StatusReady, StatusCompleted</description>
        <name>inputSelectedAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Story record Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecDraftTestResult</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Test_Result__c</objectType>
    </variables>
</Flow>
