force-app/main/default/flows/Imhotep_Story_RemoveTagAssignment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Only a Builder or Owner/Lead can assign tags to stories.</description>
        <name>decIsCurrentUserAuthorized</name>
        <label>Is Current User Authorized?</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Not Authorized</defaultConnectorLabel>
        <rules>
            <name>outCurrentUserAuthorizedYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflowCheckRole.outputIsAuthorized</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deleteTagAssignment</targetReference>
            </connector>
            <label>Authorized</label>
        </rules>
    </decisions>
    <description>From a Story, delete a Tag Assignment record so the Story is no longer associated to a Tag.</description>
    <environments>Default</environments>
    <interviewLabel>Imhotep - Story - Remove Tag Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <isTemplate>true</isTemplate>
    <label>Imhotep - Story - Remove Tag Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>deleteTagAssignment</name>
        <label>Delete Tag Assignment</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <inputReference>getTagAssignment</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>getTagAssignment</name>
        <label>Get Tag Assignment</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>subflowCheckRole</targetReference>
        </connector>
        <faultConnector>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tag_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getTagAssignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Check to see if the current user is a Builder of the project.</description>
        <name>subflowCheckRole</name>
        <label>Check Role</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>decIsCurrentUserAuthorized</targetReference>
        </connector>
        <flowName>Imhotep_General_CheckProjectMemberRole</flowName>
        <inputAssignments>
            <name>inputProjectId</name>
            <value>
                <elementReference>getTagAssignment.Story__r.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRequiredRole</name>
            <value>
                <stringValue>Builder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>subflowHandleScreenError</name>
        <label>Handle Screen Error</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <flowName>Imhotep_General_ScreenFlowError</flowName>
        <inputAssignments>
            <name>inputFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowErrorScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
