force-app/main/default/flows/Imhotep_General_SendEmail.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>actionSendEmail_NewProject</name>
        <label>Send Email</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>getRecipientUser.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>templateEmailSubject_NewProject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templateEmailBody_NewProject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>actionSendEmail_NewProjectMember</name>
        <label>Send Email</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>getRecipientUser.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>templateEmailSubject_NewProjectMember</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templateEmailBody_NewProjectMember</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>actionSendEmail_StoryAssigned</name>
        <label>Send Email</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>getRecipientUser.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>templateEmailSubject_StoryAssigned</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templateEmailBody_StoryAssigned</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>actionSendEmail_TestResultAssigned</name>
        <label>Send Email</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>getRecipientUser.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>templateEmailSubject_TestResultAssigned</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templateEmailBody_TestResultAssigned</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>actionSendEmail_TestResultReported</name>
        <label>Send Email</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>getRecipientUser.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>templateEmailSubject_TestResultReported</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templateEmailBody_TestResultReported</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>actionSendEmail_TestResultRetest</name>
        <label>Send Email</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>getRecipientUser.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>templateEmailSubject_TestResultRetest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>templateEmailBody_TestResultRetest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <description>Originating flow must provide an accepted value for inputEmailType in order for the flow to know which email to send.  See inputEmailType variable description for accepted values.</description>
        <name>decWhichEmailToSend</name>
        <label>Which Email to Send?</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Invalid Value</defaultConnectorLabel>
        <rules>
            <name>outNewProject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NewProject</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getProject</targetReference>
            </connector>
            <label>NewProject</label>
        </rules>
        <rules>
            <name>outNewProjectMember</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NewProjectMember</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getProjectMember</targetReference>
            </connector>
            <label>NewProjectMember</label>
        </rules>
        <rules>
            <name>outStoryAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>StoryAssigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getStory</targetReference>
            </connector>
            <label>StoryAssigned</label>
        </rules>
        <rules>
            <name>outTestResultAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TestResultAssigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTestResult_TestResultAssigned</targetReference>
            </connector>
            <label>TestResultAssigned</label>
        </rules>
        <rules>
            <name>outTestResultRetest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TestResultRetest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTestResult_TestResultRetest</targetReference>
            </connector>
            <label>TestResultRetest</label>
        </rules>
        <rules>
            <name>outTestResultReported</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TestResultReported</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTestResult_TestResultReported</targetReference>
            </connector>
            <label>TestResultReported</label>
        </rules>
    </decisions>
    <description>Single flow for sending different kinds of emails to users.  Email templates are stored as text template variables so they can be used across flows without being rebuilt each time and to avoid limitations of sending emails with standard template/email alert functionality.  Input variables:  inputEmailType, inputRecipientUserId, inputRecordId</description>
    <environments>Default</environments>
    <formulas>
        <description>The base URL for the specific org (such as &quot;https://devapp2-dev-ed.lightning.force.com&quot;).  Based on the Admin blog article here: https://admin.salesforce.com/blog/2022/create-a-record-link-dynamically-in-flow.</description>
        <name>formulaBaseURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_570}, FIND(&apos;/services&apos;, {!$Api.Enterprise_Server_URL_570}))</expression>
    </formulas>
    <interviewLabel>Imhotep - General - Send Email Template {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <isTemplate>true</isTemplate>
    <label>Imhotep - General - Send Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getProject</name>
        <label>Get Project</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>actionSendEmail_NewProject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProjectMember</name>
        <label>Get Project Member</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>actionSendEmail_NewProjectMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecipientUser</name>
        <label>Get Recipient User</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decWhichEmailToSend</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputRecipientUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStory</name>
        <label>Get Story</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>actionSendEmail_StoryAssigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTestResult_TestResultAssigned</name>
        <label>Get Test Result</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>actionSendEmail_TestResultAssigned</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Test_Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTestResult_TestResultReported</name>
        <label>Get Test Result</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>actionSendEmail_TestResultReported</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Test_Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTestResult_TestResultRetest</name>
        <label>Get Test Result</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>actionSendEmail_TestResultRetest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Test_Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRecipientUser</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>templateEmailBody_NewProject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; style=&quot;background-color:#e9eaec&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td align=&quot;center&quot; width=&quot;100%&quot;&gt;&lt;table style=&quot;background-color:#fff&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; width=&quot;600&quot; role=&quot;presentation&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;padding:10px&quot;&gt;&lt;table style=&quot;width:100%;border-collapse:collapse;font-family:Arial,Helvetica,sans-serif;font-size:14px&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td align=&quot;center&quot;&gt;&lt;img style=&quot;width:100%;border:none;max-width:40%;display:block;margin-left:auto;margin-right:auto;margin-bottom:0&quot; width=&quot;120&quot; src=&quot;https://storage.googleapis.com/imhotep-app-builder/ImhotepAppLogo.png&quot; alt=&quot;Imhotep App Builder logo&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;&lt;strong&gt;Greetings, Imhotep - life, prosperity, and health! Blessed Pharaoh, Lord of the Two Lands, Enduring in Form, has need of your counsel. Mighty works are to be done and Pharaoh bids you hasten to the palace.&lt;/strong&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding-top:20px;padding-bottom:20px&quot;&gt;&lt;div style=&quot;border:0;text-align:center&quot;&gt;&lt;div style=&quot;display:inline-block;border:0&quot;&gt;&lt;a style=&quot;display:block;text-align:center;margin:0;font-size:16px;padding:10px 20px 10px 20px;color:#fff;font-weight:700;font-style:normal;text-decoration:none;border:0;background-color:#823c08;border-radius:5px&quot; href=&quot;{!formulaBaseURL}{!getProject.Id}&quot;&gt;View the Project&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;h6 style=&quot;color:#111;font-size:18px;font-weight:700;margin:0;margin-bottom:20px&quot;&gt;&lt;a href=&quot;{!formulaBaseURL}{!getProject.Id}&quot;&gt;{!getProject.Name}&lt;/a&gt;&lt;/h6&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Project Type&lt;/strong&gt;: {!getProject.Type__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Description&lt;/strong&gt;: {!getProject.Description__c}&lt;/li&gt;&lt;/ul&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding-bottom:100px&quot;&gt;&lt;h6 style=&quot;color:#111;font-size:18px;font-weight:700;margin:0;margin-bottom:20px&quot;&gt;Command Me, Mightiest of Kas!&lt;/h6&gt;&lt;p&gt;Calm down, don&apos;t grovel in the throne room, we just polished the floor.&lt;/p&gt;&lt;p&gt;Imhotep App Builder is an app used for managing small projects in Salesforce, usually Salesforce builds. You are the Owner/Lead for {!getProject.Name}.&lt;/p&gt;&lt;p&gt;You may wish to work with other people on this project. If so, add Project Members from the Project record (click View the Project above).&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Pharaoh grants you this office, recognizing the excellence of your ability. Attend to your duties and render all the majesty that his ka desires.&lt;/strong&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>templateEmailBody_NewProjectMember</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; style=&quot;background-color:#e9eaec&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td align=&quot;center&quot; width=&quot;100%&quot;&gt;&lt;table style=&quot;background-color:#fff&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; width=&quot;600&quot; role=&quot;presentation&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;padding:10px&quot;&gt;&lt;table style=&quot;width:100%;border-collapse:collapse;font-family:Arial,Helvetica,sans-serif;font-size:14px&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td align=&quot;center&quot;&gt;&lt;img style=&quot;width:100%;border:none;max-width:40%;display:block;margin-left:auto;margin-right:auto;margin-bottom:0&quot; width=&quot;120&quot; src=&quot;https://storage.googleapis.com/imhotep-app-builder/ImhotepAppLogo.png&quot; alt=&quot;Imhotep App Builder logo&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;&lt;strong&gt;Greetings, Imhotep - life, prosperity, and health! Blessed Pharaoh, Lord of the Two Lands, Enduring in Form, has need of your counsel. Mighty works are to be done and Pharaoh bids you hasten to the palace.&lt;/strong&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding-top:20px;padding-bottom:20px&quot;&gt;&lt;div style=&quot;border:0;text-align:center&quot;&gt;&lt;div style=&quot;display:inline-block;border:0&quot;&gt;&lt;a style=&quot;display:block;text-align:center;margin:0;font-size:16px;padding:10px 20px 10px 20px;color:#fff;font-weight:700;font-style:normal;text-decoration:none;border:0;background-color:#823c08;border-radius:5px&quot; href=&quot;{!formulaBaseURL}{!getProjectMember.Project__r.Id}&quot;&gt;View the Project&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;h6 style=&quot;color:#111;font-size:18px;font-weight:700;margin:0;margin-bottom:20px&quot;&gt;&lt;a href=&quot;{!formulaBaseURL}{!getProjectMember.Project__r.Id}&quot;&gt;{!getProjectMember.Project__r.Name}&lt;/a&gt;&lt;/h6&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Project Type&lt;/strong&gt;: {!getProjectMember.Project__r.Type__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Your Role&lt;/strong&gt;: {!getProjectMember.Role__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Notes&lt;/strong&gt;: {!getProjectMember.Notes__c}&lt;/li&gt;&lt;/ul&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding-bottom:100px&quot;&gt;&lt;h6 style=&quot;color:#111;font-size:18px;font-weight:700;margin:0;margin-bottom:20px&quot;&gt;Command Me, Mightiest of Kas!&lt;/h6&gt;&lt;p&gt;Calm down, don&apos;t grovel in the throne room, we just polished the floor.&lt;/p&gt;&lt;p&gt;Imhotep App Builder is an app used for managing small projects in Salesforce, usually Salesforce builds. You are now part of the team that will work on {!getProjectMember.Project__r.Name}.&lt;/p&gt;&lt;p&gt;If you are new to Imhotep App Builder, you will receive a separate email with your login credentials. If you already had access, you will now see {!getProjectMember.Project__r.Name}, along with any other projects you are working on.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Pharaoh grants you this office, recognizing the excellence of your ability. Attend to your duties and render all the majesty that his ka desires.&lt;/strong&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>templateEmailBody_StoryAssigned</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; style=&quot;background-color:#e9eaec&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td align=&quot;center&quot; width=&quot;100%&quot;&gt;&lt;table style=&quot;background-color:#fff&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; width=&quot;600&quot; role=&quot;presentation&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;padding:10px&quot;&gt;&lt;table style=&quot;width:100%;border-collapse:collapse;font-family:Arial,Helvetica,sans-serif;font-size:14px&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td align=&quot;center&quot;&gt;&lt;img style=&quot;width:100%;border:none;max-width:40%;display:block;margin-left:auto;margin-right:auto;margin-bottom:0&quot; width=&quot;120&quot; src=&quot;https://storage.googleapis.com/imhotep-app-builder/ImhotepAppLogo.png&quot; alt=&quot;Imhotep App Builder logo&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;&lt;strong&gt;Greetings, Imhotep - life, prosperity, and health! A papyrus has just arrived from the palace. Pharaoh has new instructions for the workers.&lt;/strong&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding-top:20px;padding-bottom:20px&quot;&gt;&lt;div style=&quot;border:0;text-align:center&quot;&gt;&lt;div style=&quot;display:inline-block;border:0&quot;&gt;&lt;a style=&quot;display:block;text-align:center;margin:0;font-size:16px;padding:10px 20px 10px 20px;color:#fff;font-weight:700;font-style:normal;text-decoration:none;border:0;background-color:#823c08;border-radius:5px&quot; href=&quot;{!formulaBaseURL}{!getStory.Id}&quot;&gt;View the Story&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;h6 style=&quot;color:#111;font-size:18px;font-weight:700;margin:0;margin-bottom:20px&quot;&gt;&lt;a href=&quot;{!formulaBaseURL}{!getStory.Id}&quot;&gt;Story # {!getStory.Story_Number__c}: {!getStory.Name}&lt;/a&gt;&lt;/h6&gt;&lt;p&gt;{!getStory.Story_Description__c}&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;h6 style=&quot;color:#111;font-size:18px;font-weight:700;margin:0&quot;&gt;Details&lt;/h6&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Story #&lt;/strong&gt;: {!getStory.Story_Number__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Type&lt;/strong&gt;: {!getStory.Story_Type__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Priority&lt;/strong&gt;: {!getStory.Priority_Order__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Estimated Points&lt;/strong&gt;: {!getStory.Estimated_Points__c}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Release&lt;/strong&gt;: {!getStory.Release__r.Name}&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Project&lt;/strong&gt;: {!getStory.Project__r.Name}&lt;/li&gt;&lt;/ul&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding-bottom:100px&quot;&gt;&lt;p&gt;&lt;strong&gt;Go forth and prepare! Glorious Pharaoh, the Golden Horus, is exalted by your work and grants you an extra ration of grain. Your name shall be carved on the wall of his burial chamber.&lt;/strong&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>templateEmailBody_TestResultAssigned</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; style=&quot;background-color:#E9EAEC;&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td align=&quot;center&quot; width=&quot;100%&quot;&gt;&lt;table style=&quot;background-color:#FFFFFF;&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; width=&quot;600&quot; role=&quot;presentation&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;padding:10px;&quot;&gt;&lt;table style=&quot;width:100%;border-collapse:collapse;font-family:Arial,Helvetica,sans-serif;font-size:14px;&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; width=&quot;100%&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td align=&quot;center&quot;&gt;&lt;img style=&quot;width:100%;border:none;max-width:40%;display:block;margin-left:auto;margin-right:auto;margin-bottom:0&quot; width=&quot;120&quot; src=&quot;https://storage.googleapis.com/imhotep-app-builder/ImhotepAppLogo.png&quot; alt=&quot;Imhotep App Builder logo&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;&lt;strong&gt;Greetings, Inspector - life, prosperity, and health! Pharaoh has need of your counsel. You are instructed to review construction and see if the work is worthy of his divine being.&lt;/strong&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding-top:20px;padding-bottom:20px;&quot;&gt;&lt;div style=&quot;border:0;text-align:center;&quot;&gt;&lt;div style=&quot;display:inline-block;border:0;&quot;&gt;&lt;a style=&quot;display:block;text-align:center;margin:0;font-size:16px;padding:10px 20px 10px 20px;color:#ffffff;font-weight:bold;font-style:normal;text-decoration:none;border:0;background-color:#823c08;border-radius:5px;&quot; href=&quot;{!formulaBaseURL}{!getTestResult_TestResultAssigned.Story__c}&quot;&gt;View the Story&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt; &lt;h6 style=&quot;color:#111111;font-size:18px;font-weight:bold;margin:0;margin-bottom:20px;&quot;&gt; &lt;a href=&quot;{!formulaBaseURL}{!getTestResult_TestResultAssigned.Story__c}&quot;&gt; Story # {!getTestResult_TestResultAssigned.Story__r.Story_Number__c}: {!getTestResult_TestResultAssigned.Story__r.Name} &lt;/a&gt; &lt;/h6&gt; &lt;p&gt;&lt;strong&gt;Project&lt;/strong&gt;: {!getTestResult_TestResultAssigned.Project__r.Name} ({!getTestResult_TestResultAssigned.Story__r.Release__r.Name})&lt;/p&gt; &lt;p&gt;&lt;strong&gt;Story Description&lt;/strong&gt;:&lt;br&gt; {!getTestResult_TestResultAssigned.Story__r.Story_Description__c}&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt; &lt;hr&gt; &lt;h6 style=&quot;color:#111111;font-size:18px;font-weight:bold;margin:0;&quot;&gt; Test Case # {!getTestResult_TestResultAssigned.Test_Scenario__r.Name} &lt;/h6&gt; &lt;p&gt;Pharaoh has provided the following basic instructions for what you are testing to confirm the new or changed functionality is working as designed:&lt;/p&gt; &lt;p&gt;&lt;strong&gt;Description&lt;/strong&gt;:&lt;br&gt; {!getTestResult_TestResultAssigned.Test_Scenario__r.Description__c}&lt;/p&gt; &lt;p&gt;&lt;strong&gt;Expected Result&lt;/strong&gt;:&lt;br&gt; {!getTestResult_TestResultAssigned.Test_Scenario__r.Expected_Result__c}&lt;/p&gt; &lt;p&gt;&lt;strong&gt;Instructions&lt;/strong&gt;:&lt;br&gt; {!getTestResult_TestResultAssigned.Test_Scenario__r.Instructions__c}&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding-bottom:100px;&quot;&gt; &lt;hr&gt; &lt;h6 style=&quot;color:#111111;font-size:18px;font-weight:bold;margin:0;&quot;&gt; I&apos;ve Tested... Now What? &lt;/h6&gt; &lt;p&gt;Report back to Pharaoh and provide the results of your testing:&lt;/p&gt; &lt;ol&gt;&lt;li&gt;Click on the &quot;View the Story&quot; button above.&lt;/li&gt;&lt;li&gt;On the Story, click the &quot;Testing&quot; tab to see the Test Case above.&lt;/li&gt;&lt;li&gt;Click the pencil icon button next to your assigned row to report/update your test results. &lt;ul&gt;&lt;/ul&gt; &lt;ol&gt;&lt;li&gt;&lt;strong&gt;Pass/Fail&lt;/strong&gt; - whether or not the test was successful.&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Tester Feedback&lt;/strong&gt; - notes on how it differed, what made the test fail, issues or unexpected behavior you encountered, and any other feedback to act on.&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Status&lt;/strong&gt; - change to &quot;Reported&quot; and the assigned builder will be auto-notified.&lt;/li&gt;&lt;/ol&gt;&lt;/li&gt;&lt;/ol&gt; &lt;p&gt;&lt;strong&gt;Pharaoh praises your efforts! He rewards you by having an ushabti figure carved in your likeness for his tomb, so you may continue to serve him in the afterlife.&lt;/strong&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt; &lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>templateEmailBody_TestResultReported</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table role=&quot;presentation&quot; width=&quot;100%&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;background-color:#E9EAEC;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td width=&quot;100%&quot; align=&quot;center&quot;&gt;&lt;table role=&quot;presentation&quot; width=&quot;600&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;background-color:#FFFFFF;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;padding:10px;&quot;&gt;&lt;table width=&quot;100%&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;width:100%;border-collapse:collapse;font-family:Arial,Helvetica,sans-serif;font-size:14px;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td align=&quot;center&quot;&gt;&lt;img style=&quot;width:100%;border:none;max-width:40%;display:block;margin-left:auto;margin-right:auto;margin-bottom:0&quot; width=&quot;120&quot; src=&quot;https://storage.googleapis.com/imhotep-app-builder/ImhotepAppLogo.png&quot; alt=&quot;Imhotep App Builder logo&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;&lt;strong&gt;Greetings, Imhotep - life, prosperity, and health! Inspectors have reviewed construction and provided situation reports. Please review their feedback quickly in case there are any reported problems.&lt;/strong&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding-top:20px;padding-bottom:20px;&quot;&gt;&lt;div style=&quot;border:0;text-align:center;&quot;&gt;&lt;div style=&quot;display:inline-block;border:0;&quot;&gt;&lt;a href=&quot;{!formulaBaseURL}{!getTestResult_TestResultReported.Story__c}&quot; target=&quot;_blank&quot; style=&quot;display:block;text-align:center;margin:0;font-size:16px;padding:10px 20px 10px 20px;color:#ffffff;font-weight:bold;font-style:normal;text-decoration:none;border:0;background-color:#823c08;border-radius:5px;&quot;&gt;View the Story&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt; &lt;h6 style=&quot;color:#111111;font-size:18px;font-weight:bold;margin:0;margin-bottom:20px;&quot;&gt; &lt;a href=&quot;{!formulaBaseURL}{!getTestResult_TestResultReported.Story__c}&quot; target=&quot;_blank&quot;&gt; Story # {!getTestResult_TestResultReported.Story__r.Story_Number__c}: {!getTestResult_TestResultReported.Story__r.Name} &lt;/a&gt; &lt;/h6&gt; &lt;p&gt;&lt;strong&gt;Project&lt;/strong&gt;: {!getTestResult_TestResultReported.Project__r.Name} ({!getTestResult_TestResultReported.Story__r.Release__r.Name})&lt;/p&gt; &lt;p&gt;&lt;strong&gt;Story Description&lt;/strong&gt;:&lt;br&gt; {!getTestResult_TestResultReported.Story__r.Story_Description__c}&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt; &lt;hr&gt; &lt;h6 style=&quot;color:#111111;font-size:18px;font-weight:bold;margin:0;&quot;&gt; Test Result # {!getTestResult_TestResultReported.Name} &lt;/h6&gt; &lt;p&gt;Pharaoh has provided the following basic instructions for what you are testing to confirm the new or changed functionality is working as designed:&lt;/p&gt; &lt;p&gt;&lt;strong&gt;Test Result&lt;/strong&gt;: {!getTestResult_TestResultReported.Result__c}&lt;/p&gt; &lt;p&gt;&lt;strong&gt;Tester Feedback&lt;/strong&gt; (if any):&lt;br&gt; {!getTestResult_TestResultReported.Tester_Feedback__c}&lt;/p&gt; &lt;p&gt;&lt;strong&gt;Related Test Case&lt;/strong&gt;: {!getTestResult_TestResultReported.Test_Scenario__r.Name}&lt;/p&gt; &lt;p&gt;&lt;strong&gt;Test Case Description&lt;/strong&gt;:&lt;br&gt; {!getTestResult_TestResultReported.Test_Scenario__r.Description__c} &lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt; &lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>templateEmailBody_TestResultRetest</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table role=&quot;presentation&quot; width=&quot;100%&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;background-color:#E9EAEC;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td width=&quot;100%&quot; align=&quot;center&quot;&gt;&lt;table role=&quot;presentation&quot; width=&quot;600&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;background-color:#FFFFFF;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td style=&quot;padding:10px;&quot;&gt;&lt;table width=&quot;100%&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;width:100%;border-collapse:collapse;font-family:Arial,Helvetica,sans-serif;font-size:14px;&quot;&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td align=&quot;center&quot;&gt;&lt;img style=&quot;width:100%;border:none;max-width:40%;display:block;margin-left:auto;margin-right:auto;margin-bottom:0&quot; width=&quot;120&quot; src=&quot;https://storage.googleapis.com/imhotep-app-builder/ImhotepAppLogo.png&quot; alt=&quot;Imhotep App Builder logo&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt;&lt;p&gt;&lt;strong&gt;Greetings, Inspector - life, prosperity, and health! Imhotep has reviewed your reports on construction and workmen have redoubled their efforts. He bids you review their work to see if the project is back on course.&lt;/strong&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding-top:20px;padding-bottom:20px;&quot;&gt;&lt;div style=&quot;border:0;text-align:center;&quot;&gt;&lt;div style=&quot;display:inline-block;border:0;&quot;&gt;&lt;a href=&quot;{!formulaBaseURL}{!getTestResult_TestResultRetest.Story__c}&quot; target=&quot;_blank&quot; style=&quot;display:block;text-align:center;margin:0;font-size:16px;padding:10px 20px 10px 20px;color:#ffffff;font-weight:bold;font-style:normal;text-decoration:none;border:0;background-color:#823c08;border-radius:5px;&quot;&gt;View the Story&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt; &lt;h6 style=&quot;color:#111111;font-size:18px;font-weight:bold;margin:0;margin-bottom:20px;&quot;&gt; &lt;a href=&quot;{!formulaBaseURL}{!getTestResult_TestResultRetest.Story__c}&quot; target=&quot;_blank&quot;&gt; Story # {!getTestResult_TestResultRetest.Story__r.Story_Number__c}: {!getTestResult_TestResultRetest.Story__r.Name} &lt;/a&gt; &lt;/h6&gt; &lt;p&gt;&lt;strong&gt;Project&lt;/strong&gt;: {!getTestResult_TestResultRetest.Project__r.Name} ({!getTestResult_TestResultRetest.Story__r.Release__r.Name})&lt;/p&gt; &lt;p&gt;&lt;strong&gt;Story Description&lt;/strong&gt;:&lt;br&gt; {!getTestResult_TestResultRetest.Story__r.Story_Description__c}&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td&gt; &lt;hr&gt; &lt;h6 style=&quot;color:#111111;font-size:18px;font-weight:bold;margin:0;&quot;&gt; Test Case # {!getTestResult_TestResultRetest.Test_Scenario__r.Name} &lt;/h6&gt; &lt;p&gt;Pharaoh has provided the following basic instructions for what you are testing to confirm the new or changed functionality is working as designed:&lt;/p&gt; &lt;p&gt;&lt;strong&gt;Description&lt;/strong&gt;:&lt;br&gt; {!getTestResult_TestResultRetest.Test_Scenario__r.Description__c}&lt;/p&gt; &lt;p&gt;&lt;strong&gt;Expected Result&lt;/strong&gt;:&lt;br&gt; {!getTestResult_TestResultRetest.Test_Scenario__r.Expected_Result__c}&lt;/p&gt; &lt;p&gt;&lt;strong&gt;Instructions&lt;/strong&gt;:&lt;br&gt; {!getTestResult_TestResultRetest.Test_Scenario__r.Instructions__c}&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr&gt;&lt;td style=&quot;padding-bottom:100px;&quot;&gt; &lt;hr&gt; &lt;h6 style=&quot;color:#111111;font-size:18px;font-weight:bold;margin:0;&quot;&gt; I&apos;ve Tested... Now What? &lt;/h6&gt; &lt;p&gt;Report back to Pharaoh and provide the results of your testing:&lt;/p&gt; &lt;ol&gt; &lt;li&gt;Click on the &amp;quot;View the Story&amp;quot; button above.&lt;/li&gt; &lt;li&gt;On the Story, click the &amp;quot;Testing&amp;quot; tab to see the Test Case above.&lt;/li&gt; &lt;li&gt;Click the pencil icon button next to your assigned row to report/update your test results. &lt;ul&gt; &lt;li&gt;&lt;strong&gt;Pass/Fail&lt;/strong&gt; - whether or not the test was successful.&lt;/li&gt; &lt;li&gt;&lt;strong&gt;Tester Feedback&lt;/strong&gt; - notes on how it differed, what made the test fail, issues or unexpected behavior you encountered, and any other feedback to act on.&lt;/li&gt; &lt;li&gt;&lt;strong&gt;Status&lt;/strong&gt; - change to &amp;quot;Reported&amp;quot; and the assigned builder will be auto-notified.&lt;/li&gt; &lt;/ul&gt; &lt;/li&gt; &lt;/ol&gt; &lt;p&gt;&lt;strong&gt;Imhotep has spoken of your contributions in the palace, and your name has been whispered into Pharaoh&apos;s ear. You are invited to the next court feast, where you will serve the wine. Keep up your good work and there will soon be a goblet and place at the table for you as well.&lt;/strong&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt; &lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt; &lt;/tr&gt; &lt;/tbody&gt;&lt;/table&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>templateEmailSubject_NewProject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your New Project: {!getProject.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>templateEmailSubject_NewProjectMember</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Welcome to the Team! ({!getProjectMember.Project__r.Name})</text>
    </textTemplates>
    <textTemplates>
        <name>templateEmailSubject_StoryAssigned</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>A Story is Assigned to You ({!getStory.Project__r.Name})</text>
    </textTemplates>
    <textTemplates>
        <name>templateEmailSubject_TestResultAssigned</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Test Request for Story # {!getTestResult_TestResultAssigned.Story__r.Story_Number__c} ({!getTestResult_TestResultAssigned.Project__r.Name})</text>
    </textTemplates>
    <textTemplates>
        <name>templateEmailSubject_TestResultReported</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Test Results Reported for Story # {!getTestResult_TestResultReported.Story__r.Story_Number__c} ({!getTestResult_TestResultReported.Project__r.Name})</text>
    </textTemplates>
    <textTemplates>
        <name>templateEmailSubject_TestResultRetest</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Retest Request for Story # {!getTestResult_TestResultRetest.Story__r.Story_Number__c} ({!getTestResult_TestResultRetest.Project__r.Name})</text>
    </textTemplates>
    <variables>
        <description>Input variable for which type of email to send.  Accepted values are:  TestResultAssigned, TestResultRetest, TestResultReported</description>
        <name>inputEmailType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputRecipientUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
