force-app/main/default/flows/Imhotep_Release_TriggerAfterUpdate.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setAddStoryToColl</name>
        <label>Add to Coll</label>
        <locationX>138</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>varCollDraftStories</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRecDraftStory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftStory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecEmptyStory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopStories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCountStories</name>
        <label>Count Stories</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varCountStories</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getStories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decAnyStories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDraftStory</name>
        <label>Set Draft Story</label>
        <locationX>138</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>varRecDraftStory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopStories</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setModifyStory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setModifyStory</name>
        <label>Modify Story</label>
        <locationX>138</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>varRecDraftStory.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getStoryRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setAddStoryToColl</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decAnyStories</name>
        <label>Any Stories?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>No Stories</defaultConnectorLabel>
        <rules>
            <name>outStoriesFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountStories</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getStoryRecordType</targetReference>
            </connector>
            <label>Stories</label>
        </rules>
    </decisions>
    <decisions>
        <name>decDifferentRecordType</name>
        <label>Different Record Type?</label>
        <locationX>270</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>loopStories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Same</defaultConnectorLabel>
        <rules>
            <name>outDifferentStoryRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopStories.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>getStoryRecordType.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setDraftStory</targetReference>
            </connector>
            <label>Different</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the release&apos;s Release Mode or Record Type field values changed, the record types for all related stories should be updated to match.</description>
        <name>decUpdateRTForRelatedStories</name>
        <label>Update RT for Related Stories?</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>outChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.iab__Release_Mode__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getStories</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <description>New flow that reacts to Release record changes after the save.  Used for processing related records.

05/29/2024 - S000016 - Initial flow created.</description>
    <environments>Default</environments>
    <interviewLabel>Imhotep - Release - Trigger After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Imhotep - Release - Trigger After Update</label>
    <loops>
        <name>loopStories</name>
        <label>Loop on Stories</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <collectionReference>getStories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decDifferentRecordType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateStories</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getStories</name>
        <label>Get Stories</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setCountStories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Release__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Release_Mode_Override__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStoryRecordType</name>
        <label>Get Story Record Type</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopStories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>iab__Story__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Release_Mode__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateStories</name>
        <label>Update Stories</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <inputReference>varCollDraftStories</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decUpdateRTForRelatedStories</targetReference>
        </connector>
        <object>Release__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCollDraftStories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Story__c</objectType>
    </variables>
    <variables>
        <name>varCountStories</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varRecDraftStory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Story__c</objectType>
    </variables>
    <variables>
        <name>varRecEmptyStory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Story__c</objectType>
    </variables>
</Flow>
