force-app/main/default/flows/Imhotep_ProjectMember_WhenRoleIsUpdated.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setDraftShareAll</name>
        <label>Set Draft Share (All)</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>varRecDraftProjectShare.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftProjectShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftProjectShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>iab__Owner_Lead_Read_Write__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftProjectShare.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getSearchForNewExistingShare</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDraftShareEdit</name>
        <label>Set Draft Share (Edit)</label>
        <locationX>644</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>varRecDraftProjectShare.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftProjectShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftProjectShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>iab__Builder_Read_Write__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftProjectShare.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getSearchForNewExistingShare</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDraftShareRead</name>
        <label>Set Draft Share (Read)</label>
        <locationX>908</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>varRecDraftProjectShare.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftProjectShare.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftProjectShare.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>iab__Viewer_Read_Only__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftProjectShare.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getSearchForNewExistingShare</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPriorAccessLevelAll</name>
        <label>Set Prior Access Level (All)</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>varPriorAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>All</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getSearchForPriorShare</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPriorAccessLevelEdit</name>
        <label>Set Prior Access Level (Edit)</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>varPriorAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getSearchForPriorShare</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setPriorAccessLevelRead</name>
        <label>Set Prior Access Level (Read)</label>
        <locationX>578</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>varPriorAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getSearchForPriorShare</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If there was a prior share found, delete it.</description>
        <name>decDeletePriorShare</name>
        <label>Delete the Prior Share?</label>
        <locationX>446</locationX>
        <locationY>1487</locationY>
        <defaultConnectorLabel>Nothing to Delete</defaultConnectorLabel>
        <rules>
            <name>outDeletePriorShareYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSearchForPriorShare.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deletePriorShare</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <decisions>
        <description>What was the user&apos;s new access level, based on their role?</description>
        <name>decNewAccessLevel</name>
        <label>New Access Level</label>
        <locationX>776</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outNewAccessLevelAll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.iab__Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Owner/Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setDraftShareAll</targetReference>
            </connector>
            <label>All</label>
        </rules>
        <rules>
            <name>outNewAccessLevelEdit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.iab__Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Builder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setDraftShareEdit</targetReference>
            </connector>
            <label>Edit</label>
        </rules>
        <rules>
            <name>outNewAccessLevelRead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.iab__Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Viewer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setDraftShareRead</targetReference>
            </connector>
            <label>Read</label>
        </rules>
    </decisions>
    <decisions>
        <description>What was the user&apos;s prior access level, based on their role, before the change?</description>
        <name>decPriorAccessLevel</name>
        <label>Prior Access Level</label>
        <locationX>446</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outPriorAccessLevelAll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.iab__Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Owner/Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setPriorAccessLevelAll</targetReference>
            </connector>
            <label>All</label>
        </rules>
        <rules>
            <name>outPriorAccessLevelEdit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.iab__Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Builder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setPriorAccessLevelEdit</targetReference>
            </connector>
            <label>Edit</label>
        </rules>
        <rules>
            <name>outPriorAccessLevelRead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.iab__Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Viewer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setPriorAccessLevelRead</targetReference>
            </connector>
            <label>Read</label>
        </rules>
    </decisions>
    <decisions>
        <name>setAlreadyAssignedNewAccessLevel</name>
        <label>Already Assigned New Access Level?</label>
        <locationX>776</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Assigned</defaultConnectorLabel>
        <rules>
            <name>outAlreadyAssignedNO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSearchForNewExistingShare.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createShareForProjectMember</targetReference>
            </connector>
            <label>Not Assigned</label>
        </rules>
    </decisions>
    <description>Record-triggered flow runs when a Project Member&apos;s Role__c has been changed.

05/25/2024 - S000531 - Migrated from the legacy org.

03/02/2023 - S-000186 - Made flow a template so admins can modify.

02/22/2023 - S-000166 - Updated to use namespace &quot;imhotep&quot;.</description>
    <environments>Default</environments>
    <interviewLabel>Imhotep - Project Member - When Role is Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Imhotep - Project Member - When Role is Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createShareForProjectMember</name>
        <label>Create Share for Project Member</label>
        <locationX>446</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>decPriorAccessLevel</targetReference>
        </connector>
        <inputReference>varRecDraftProjectShare</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>deletePriorShare</name>
        <label>Delete Prior Share</label>
        <locationX>314</locationX>
        <locationY>1607</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSearchForPriorShare.Id</elementReference>
            </value>
        </filters>
        <object>Project__Share</object>
    </recordDeletes>
    <recordLookups>
        <description>See if the user already has a share with the new access level for the project.</description>
        <name>getSearchForNewExistingShare</name>
        <label>Search for New Existing Share</label>
        <locationX>776</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setAlreadyAssignedNewAccessLevel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccessLevel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccessLevel</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>See if there&apos;s an existing share for the prior access level.  If found, we&apos;ll delete this and replace it with a share for their new access level.</description>
        <name>getSearchForPriorShare</name>
        <label>Search for Prior Share</label>
        <locationX>446</locationX>
        <locationY>1367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decDeletePriorShare</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccessLevel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPriorAccessLevel</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decNewAccessLevel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Role__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Project_Member__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccessLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriorAccessLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecDraftProjectShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__Share</objectType>
    </variables>
</Flow>
