force-app/main/default/flows/Imhotep_Story_Transfer.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setAddToColl</name>
        <label>Add to Coll</label>
        <locationX>138</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>varCollMetadataComponentChanges</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopOnChanges</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOnChanges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCountChanges</name>
        <label>Count Changes</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>varCountMetadataComponentChanges</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getMetadataComponentChanges</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decAnyChanges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNewPriorityTo1</name>
        <label>Set New Priority to 1</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varPriorityNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateStory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNewPriorityToNPlus1</name>
        <label>Set New Priority to N+1</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varPriorityNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaNewStoryPriority</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateStory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setUpdateChange</name>
        <label>Update Change</label>
        <locationX>138</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>loopOnChanges.Release__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_Release.outputSelectedReleaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setAddToColl</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decAnyAvailableReleases</name>
        <label>Any Available Releases?</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>s02</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Releases to Transfer To</defaultConnectorLabel>
        <rules>
            <name>outOtherReleasesAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getReleases</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>s01</targetReference>
            </connector>
            <label>Other Releases Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>decAnyChanges</name>
        <label>Any Changes?</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>outMetadataComponentChangesYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountMetadataComponentChanges</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopOnChanges</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only a Builder or Owner/Lead can transfer stories to a release.</description>
        <name>decIsCurrentUserAuthorized</name>
        <label>Is Current User Authorized?</label>
        <locationX>1568</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Not Authorized</defaultConnectorLabel>
        <rules>
            <name>outCurrentUserAuthorizedYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflowCheckRole.outputIsAuthorized</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getReleases</targetReference>
            </connector>
            <label>Authorized</label>
        </rules>
    </decisions>
    <decisions>
        <name>decStoryFound</name>
        <label>Story Found?</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>setNewPriorityTo1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>outStoryFoundYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getLowestPriorityStory.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setNewPriorityToNPlus1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Moves the selected story from one release (like a backlog) to another.</description>
    <environments>Default</environments>
    <formulas>
        <name>formulaNewStoryPriority</name>
        <dataType>Number</dataType>
        <expression>{!getLowestPriorityStory.Priority_Order__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Imhotep - Story - Transfer {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <isTemplate>true</isTemplate>
    <label>Imhotep - Story - Transfer</label>
    <loops>
        <name>loopOnChanges</name>
        <label>Loop on Changes</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <collectionReference>getMetadataComponentChanges</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setUpdateChange</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateChanges</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getLowestPriorityStory</name>
        <label>Get Lowest Priority Story</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decStoryFound</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Release__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input01_Release.outputSelectedReleaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Story__c</object>
        <sortField>Priority_Order__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMetadataComponentChanges</name>
        <label>Get Metadata Component Changes</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setCountChanges</targetReference>
        </connector>
        <faultConnector>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Metadata_Component_Change__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Determine if there are releases to transfer the story to.</description>
        <name>getReleases</name>
        <label>Get Releases</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decAnyAvailableReleases</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getStory.Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>getStory.Release__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Release__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStory</name>
        <label>Get Story</label>
        <locationX>1568</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>subflowCheckRole</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateChanges</name>
        <label>Update Changes</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <faultConnector>
            <targetReference>subflowHandleErrorMetadataComponentChanges</targetReference>
        </faultConnector>
        <inputReference>varCollMetadataComponentChanges</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateStory</name>
        <label>Update Story</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>getMetadataComponentChanges</targetReference>
        </connector>
        <faultConnector>
            <targetReference>subflowHandleErrorStoryUpdate</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Priority_Order__c</field>
            <value>
                <elementReference>varPriorityNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Release__c</field>
            <value>
                <elementReference>input01_Release.outputSelectedReleaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Release__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Story__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>s01</name>
        <label>Select Release</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getLowestPriorityStory</targetReference>
        </connector>
        <fields>
            <name>text01a</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Transfer the selected story to one of the following releases:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>input01_Release</name>
            <extensionName>iab:imhotepFlowReleaseSelectionList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>inputReleaseColl</name>
                <value>
                    <elementReference>getReleases</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Transfer to Selected Release</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s02</name>
        <label>No Releases Available</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text02a</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Sorry, you can&apos;t transfer this story to another release because there aren&apos;t any releases available.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;A release or backlog must have a status of Planning or Active to receive stories.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1442</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getStory</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Check to see if the current user is a Builder of the project.</description>
        <name>subflowCheckRole</name>
        <label>Check Role</label>
        <locationX>1568</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>decIsCurrentUserAuthorized</targetReference>
        </connector>
        <flowName>Imhotep_General_CheckProjectMemberRole</flowName>
        <inputAssignments>
            <name>inputProjectId</name>
            <value>
                <elementReference>getStory.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRequiredRole</name>
            <value>
                <stringValue>Builder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>subflowHandleErrorMetadataComponentChanges</name>
        <label>Handle Error</label>
        <locationX>314</locationX>
        <locationY>2138</locationY>
        <flowName>Imhotep_General_ScreenFlowError</flowName>
        <inputAssignments>
            <name>inputAdditionalMessageToDisplay</name>
            <value>
                <stringValue>An error was experienced while updating the story&apos;s related Metadata Component Change records.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowErrorScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>subflowHandleErrorStoryUpdate</name>
        <label>Handle Error</label>
        <locationX>1106</locationX>
        <locationY>1298</locationY>
        <flowName>Imhotep_General_ScreenFlowError</flowName>
        <inputAssignments>
            <name>inputAdditionalMessageToDisplay</name>
            <value>
                <stringValue>An error was experienced while updating the story.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowErrorScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>subflowHandleScreenError</name>
        <label>Handle Screen Error</label>
        <locationX>842</locationX>
        <locationY>1406</locationY>
        <flowName>Imhotep_General_ScreenFlowError</flowName>
        <inputAssignments>
            <name>inputFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowErrorScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Story__c recordId</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCollMetadataComponentChanges</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Metadata_Component_Change__c</objectType>
    </variables>
    <variables>
        <name>varCountMetadataComponentChanges</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountStories</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPriorityNew</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedRelease</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
