force-app/main/default/flows/Imhotep_Story_Clone.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>actionNavigateToRecord</name>
        <label>Navigate to Record</label>
        <locationX>182</locationX>
        <locationY>2522</locationY>
        <actionName>iab:imhotepFlowNavigate</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varDraftStoryRec.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>iab:imhotepFlowNavigate</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>setAddToColl</name>
        <label>Add to Coll</label>
        <locationX>138</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>varCollDraftTestScenarios</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRecDraftTestScenario</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftTestScenario</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecEmptyTestScenario</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTestScenarios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCountTestScenarios</name>
        <label>Count Test Scenarios</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>varCountTestScenarios</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getTestScenarios</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decAnyTestScenarios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDraftStory</name>
        <label>Set Draft Story</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varDraftStoryRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getStory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>s01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setModifyTestScenario</name>
        <label>Modify Test Scenario</label>
        <locationX>138</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>varRecDraftTestScenario.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopTestScenarios.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftTestScenario.Expected_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopTestScenarios.Expected_Result__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftTestScenario.Instructions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopTestScenarios.Instructions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftTestScenario.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Ready to Test</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftTestScenario.Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDraftStoryRec.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setAddToColl</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNewPriorityTo1</name>
        <label>Set New Priority to 1</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varPriorityDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setUpdateDraftStory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNewPriorityToNPlus1</name>
        <label>Set New Priority to N+1</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varPriorityDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaNewStoryPriority</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setUpdateDraftStory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setUpdateDraftStory</name>
        <label>Update Draft Story</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Story_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_StoryType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Story_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_StoryDescription.outputValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Parent_Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_ParentStory.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Requested_Release__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_RequestedRelease.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Release__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getStory.Release__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getStory.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Priority_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPriorityDefault</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getStory.Release__r.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_AssignedProjectMember.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Actual_Points__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Solution_Build_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_SolutionBuildNotes.outputValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createStory</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceUnassignedStory</name>
        <choiceText>Unassigned</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>decAnyTestScenarios</name>
        <label>Any Test Scenarios?</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>decSendEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ScenariosFoundYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountTestScenarios</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopTestScenarios</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only a Builder or Owner/Lead can create Stories.</description>
        <name>decIsCurrentUserAuthorized</name>
        <label>Is Current User Authorized?</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Not Authorized</defaultConnectorLabel>
        <rules>
            <name>outCurrentUserAuthorizedYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflowCheckRole.outputIsAuthorized</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setDraftStory</targetReference>
            </connector>
            <label>Authorized</label>
        </rules>
    </decisions>
    <decisions>
        <name>decSendEmail</name>
        <label>Send Email?</label>
        <locationX>182</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>actionNavigateToRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Email</defaultConnectorLabel>
        <rules>
            <name>outSendEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input01_NotifyByEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDraftStoryRec.Assigned__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDraftStoryRec.Assigned__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varDraftStoryRec.Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>subflowSendEmailToAssigned</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>decStoryFound</name>
        <label>Story Found?</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>setNewPriorityTo1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>outStoryFoundYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getLowestPriorityStory.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setNewPriorityToNPlus1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Clone an existing Story.  Input variable(s):  recordId (expecting Story recordId).</description>
    <dynamicChoiceSets>
        <name>choicesProjectMembers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getStory.Release__r.Project__c</elementReference>
            </value>
        </filters>
        <object>Project_Member__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>All Releases related to the current Release&apos;s Project.</description>
        <name>choicesProjectReleases</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getStory.Release__r.Project__c</elementReference>
            </value>
        </filters>
        <object>Release__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>All Stories related to the current Release&apos;s Project.</description>
        <name>choicesProjectStories</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getStory.Release__r.Project__c</elementReference>
            </value>
        </filters>
        <object>Story__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>listStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Story__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>listStoryType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Story_Type__c</picklistField>
        <picklistObject>Story__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formulaNewStoryPriority</name>
        <dataType>Number</dataType>
        <expression>{!getLowestPriorityStory.Priority_Order__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Imhotep - Story - Clone {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <isTemplate>true</isTemplate>
    <label>Imhotep - Story - Clone</label>
    <loops>
        <name>loopTestScenarios</name>
        <label>Loop on Test Scenarios</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <collectionReference>getTestScenarios</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setModifyTestScenario</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createTestScenarios</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createStory</name>
        <label>Create Story</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>getTestScenarios</targetReference>
        </connector>
        <inputReference>varDraftStoryRec</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createTestScenarios</name>
        <label>Create Test Scenarios</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>decSendEmail</targetReference>
        </connector>
        <inputReference>varCollDraftTestScenarios</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getLowestPriorityStory</name>
        <label>Get Lowest Priority Story</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decStoryFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Release__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getStory.Release__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Story__c</object>
        <sortField>Priority_Order__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStory</name>
        <label>Get Story</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>subflowCheckRole</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTestScenarios</name>
        <label>Get Test Scenarios</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setCountTestScenarios</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Test_Scenario__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>s01</name>
        <label>New Story Details</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getLowestPriorityStory</targetReference>
        </connector>
        <fields>
            <name>text01a</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Original Story:  {!varDraftStoryRec.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;All field values will be cloned, but here are a few you can edit right away:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>s01_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s01_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input01_StoryType</name>
                    <choiceReferences>listStoryType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varDraftStoryRec.Story_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Story Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s01_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input01_Status</name>
                    <choiceReferences>listStatus</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Defined</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varDraftStoryRec.Expedite__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>varDraftStoryRec.Name</objectFieldReference>
        </fields>
        <fields>
            <name>input01_StoryDescription</name>
            <extensionName>iab:imhotepFlowRichText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>varDraftStoryRec.Story_Description__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tooltipText</name>
                <value>
                    <elementReference>$Label.iab__StoryFieldStoryDescriptionHelp</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelText</name>
                <value>
                    <elementReference>$Label.iab__StoryFieldStoryDescriptionLabel</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>input01_SolutionBuildNotes</name>
            <extensionName>iab:imhotepFlowRichText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>varDraftStoryRec.Solution_Build_Notes__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelText</name>
                <value>
                    <elementReference>$Label.iab__StoryFieldSolutionBuildNotesLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tooltipText</name>
                <value>
                    <elementReference>$Label.iab__StoryFieldSolutionBuildNotesHelp</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>s01_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s01_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varDraftStoryRec.Estimated_Points__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s01_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input01_ParentStory</name>
                    <choiceReferences>choicesProjectStories</choiceReferences>
                    <defaultValue>
                        <elementReference>varDraftStoryRec.Parent_Story__c</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Parent Story</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Search Project&apos;s Stories...</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s01_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input01_RequestedRelease</name>
                    <choiceReferences>choicesProjectReleases</choiceReferences>
                    <defaultValue>
                        <elementReference>varDraftStoryRec.Requested_Release__c</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Requested Release</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Search Project&apos;s Releases...</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>getStory.Release__r.Is_Backlog__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>s01_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s01_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input01_AssignedProjectMember</name>
                    <choiceReferences>choiceUnassignedStory</choiceReferences>
                    <choiceReferences>choicesProjectMembers</choiceReferences>
                    <defaultValue>
                        <elementReference>varDraftStoryRec.Assigned__c</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Assigned Project Member (or leave unassigned)</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Search Project Members...</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s01_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input01_NotifyByEmail</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Notify assigned project member by email</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>input01_AssignedProjectMember.selectedChoiceValues</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Clone Story</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getStory</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Check to see if the current user is a Builder of the project.</description>
        <name>subflowCheckRole</name>
        <label>Check Role</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>decIsCurrentUserAuthorized</targetReference>
        </connector>
        <flowName>Imhotep_General_CheckProjectMemberRole</flowName>
        <inputAssignments>
            <name>inputProjectId</name>
            <value>
                <elementReference>getStory.Release__r.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRequiredRole</name>
            <value>
                <stringValue>Builder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>subflowSendEmailToAssigned</name>
        <label>Send Email to Assigned</label>
        <locationX>50</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>actionNavigateToRecord</targetReference>
        </connector>
        <flowName>Imhotep_General_SendEmail</flowName>
        <inputAssignments>
            <name>inputEmailType</name>
            <value>
                <stringValue>StoryAssigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecipientUserId</name>
            <value>
                <elementReference>varDraftStoryRec.Assigned__r.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>varDraftStoryRec.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCollDraftTestScenarios</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Test_Scenario__c</objectType>
    </variables>
    <variables>
        <name>varCountTestScenarios</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varDraftStoryRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Story__c</objectType>
    </variables>
    <variables>
        <name>varPriorityDefault</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varRecDraftTestScenario</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Test_Scenario__c</objectType>
    </variables>
    <variables>
        <name>varRecEmptyTestScenario</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Test_Scenario__c</objectType>
    </variables>
    <variables>
        <description>When a Project Member is selected in the Assigned field, this variable stores the related iab__User__c field value (a record Id).</description>
        <name>varSelectedProjectMember_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
