force-app/main/default/flows/Imhotep_Release_AddTemplateToRelease.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>choicePointsBeginner</name>
        <choiceText>Beginner</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Beginner</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePointsExpert</name>
        <choiceText>Expert</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Expert</stringValue>
        </value>
    </choices>
    <choices>
        <name>choicePointsIntermediate</name>
        <choiceText>Intermediate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Intermediate</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Only a Builder or Owner/Lead can create Stories.</description>
        <name>decIsCurrentUserAuthorized</name>
        <label>Is Current User Authorized?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Not Authorized</defaultConnectorLabel>
        <rules>
            <name>outCurrentUserAuthorizedYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflowCheckRole.outputIsAuthorized</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>s01</targetReference>
            </connector>
            <label>Authorized</label>
        </rules>
    </decisions>
    <description>Adds Template Items to an existing Release as additional Stories.  Initiated by the user from the Release record.</description>
    <environments>Default</environments>
    <interviewLabel>Imhotep - Release - Add Template to Release {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <isTemplate>true</isTemplate>
    <label>Imhotep - Release - Add Template to Release</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getRelease</name>
        <label>Get Release</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>subflowCheckRole</targetReference>
        </connector>
        <faultConnector>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Release__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>s01</name>
        <label>Select Template</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>subflowCreateStories</targetReference>
        </connector>
        <fields>
            <name>text01a</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(0, 0, 0);&quot;&gt;Select a Template&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>text01b</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;You can create stories in your release using a template.  Templates include a list of pre-built stories for carrying out common tasks.  These stories can also include pre-documented information on how to complete the story.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>text01c</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Template stories also include &quot;Estimated Points&quot; - rough estimates of the level of effort required to complete each story.  There are different estimates to choose from (Beginner, Intermediate, and Expert), depending on your experience/comfort level with the related work.  These estimates roll up to help you better understand the overall level of effort to complete a release.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>text01d</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Please select a template and which estimates to use:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>input01_EstimatedPointsToUse</name>
            <choiceReferences>choicePointsBeginner</choiceReferences>
            <choiceReferences>choicePointsIntermediate</choiceReferences>
            <choiceReferences>choicePointsExpert</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Estimated Points to Use:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>input01_TemplateSelectionTable</name>
            <extensionName>iab:devTemplateSelectionTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSelectedTemplateId</assignToReference>
                <name>SelectedTemplateId</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Next &gt;</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRelease</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Check to see if the current user is a Builder of the project.</description>
        <name>subflowCheckRole</name>
        <label>Check Role</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>decIsCurrentUserAuthorized</targetReference>
        </connector>
        <flowName>Imhotep_General_CheckProjectMemberRole</flowName>
        <inputAssignments>
            <name>inputProjectId</name>
            <value>
                <elementReference>getRelease.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRequiredRole</name>
            <value>
                <stringValue>Builder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>subflowCreateStories</name>
        <label>Create Stories</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <flowName>Imhotep_Template_CreateStories</flowName>
        <inputAssignments>
            <name>inputReleaseId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputSelectedExperienceLevel</name>
            <value>
                <elementReference>input01_EstimatedPointsToUse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputTemplateId</name>
            <value>
                <elementReference>varSelectedTemplateId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>subflowHandleScreenError</name>
        <label>Handle Screen Error</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <flowName>Imhotep_General_ScreenFlowError</flowName>
        <inputAssignments>
            <name>inputFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowErrorScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
