force-app/main/default/flows/Imhotep_Template_CreateStories.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setDraftStory</name>
        <label>Set Draft Story</label>
        <locationX>270</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>varRecDraftStory.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopTemplateItems.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftStory.Story_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopTemplateItems.Story_Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftStory.Release__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputReleaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftStory.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRelease.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftStory.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subflowGetRecordType.outputStoryRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftStory.Estimated_Points__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaEstimatedPoints</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftStory.Acceptance_Criteria_Tests__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopTemplateItems.Acceptance_Criteria_Tests__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftStory.Solution_Build_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopTemplateItems.Solution_Build_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftStory.Deployment_Checklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopTemplateItems.Deployment_Checklist__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftStory.Priority_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varStoryPriority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftStory.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getActiveCustomMetadataSettings.Default_Story_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftStory.Created_from_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftStory.Story_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopTemplateItems.Story_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCollDraftStories</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varRecDraftStory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStoryPriority</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopTemplateItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNewPriorityTo1</name>
        <label>Set New Priority to 1</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varStoryPriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>subflowGetRecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNewPriorityToNPlus1</name>
        <label>Set New Priority to N+1</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varStoryPriority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaFirstStoryPriority</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>subflowGetRecordType</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decStoryFound</name>
        <label>Story Found?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>setNewPriorityTo1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>outStoryFoundYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getLowestPriorityStory.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setNewPriorityToNPlus1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Cycles through template items from a given template and creates stories for a given release.  Triggered by other flows.</description>
    <environments>Default</environments>
    <formulas>
        <description>Calculate the Estimated Points value to use for creating an individual Story.  This is based on whether the user has selected Beginner, Intermediate, or Expert.</description>
        <name>formulaEstimatedPoints</name>
        <dataType>Number</dataType>
        <expression>CASE({!inputSelectedExperienceLevel},
&quot;Beginner&quot;,{!loopTemplateItems.Estimated_Points_Beginner__c},
&quot;Intermediate&quot;,{!loopTemplateItems.Estimated_Points_Intermediate__c},
&quot;Expert&quot;,{!loopTemplateItems.Estimated_Points_Expert__c},
0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formulaFirstStoryPriority</name>
        <dataType>Number</dataType>
        <expression>{!getLowestPriorityStory.Priority_Order__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Imhotep - Template - Create Stories {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <isTemplate>true</isTemplate>
    <label>Imhotep - Template - Create Stories</label>
    <loops>
        <name>loopTemplateItems</name>
        <label>Loop on Template Items</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <collectionReference>getTemplateItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setDraftStory</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createStories</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createStories</name>
        <label>Create Stories</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <inputReference>varCollDraftStories</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Retrieve the active custom metadata type settings for Imhotep App Builder.  Only one metadata type record is retrieved (where Active = true).  If there are multiple active records, you may experience errors until you update old records (uncheck the Active checkbox).</description>
        <name>getActiveCustomMetadataSettings</name>
        <label>Get Active Custom Metadata Settings</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelease</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Imhotep_Config__mdt</object>
        <sortField>DeveloperName</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getLowestPriorityStory</name>
        <label>Get Lowest Priority Story</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decStoryFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Release__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputReleaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Story__c</object>
        <sortField>Priority_Order__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelease</name>
        <label>Get Release</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getLowestPriorityStory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputReleaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Release__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTemplate</name>
        <label>Get Template</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTemplateItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputTemplateId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTemplateItems</name>
        <label>Get Template Items</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopTemplateItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputTemplateId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Template_Item__c</object>
        <sortField>Priority_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getActiveCustomMetadataSettings</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>subflowGetRecordType</name>
        <label>Get Record Type</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>getTemplate</targetReference>
        </connector>
        <flowName>Imhotep_General_GetRecordTypes</flowName>
        <inputAssignments>
            <name>inputReleaseMode</name>
            <value>
                <elementReference>getRelease.Release_Mode__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>inputReleaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Values are Beginner, Intermediate, and Expert.</description>
        <name>inputSelectedExperienceLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTemplateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCollDraftStories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Story__c</objectType>
    </variables>
    <variables>
        <name>varRecDraftStory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Story__c</objectType>
    </variables>
    <variables>
        <name>varStoryPriority</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
