force-app/main/default/flows/Imhotep_ProjectMember_Update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <choices>
        <name>choiceRoleBuilder</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px;&quot;&gt;Builder&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; (Read/Write)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Builder</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceRoleViewer</name>
        <choiceText>&lt;strong style=&quot;font-size: 14px;&quot;&gt;Viewer&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; (Read Only)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Viewer</stringValue>
        </value>
    </choices>
    <decisions>
        <name>decIsCurrentUserAuthorized</name>
        <label>Is Current User Authorized?</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Not Authorized</defaultConnectorLabel>
        <rules>
            <name>outCurrentUserAuthorizedYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflowCheckRole.outputIsAuthorized</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>s01</targetReference>
            </connector>
            <label>Authorized</label>
        </rules>
    </decisions>
    <decisions>
        <description>Don&apos;t let the blank Role form input override the Owner/Lead&apos;s role.</description>
        <name>decIsOwnerLead</name>
        <label>Is Owner/Lead?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>subflowUpdatePMOtherRoles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Role</defaultConnectorLabel>
        <rules>
            <name>outIsOwnerLeadYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getProjectMember.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Owner/Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>subflowUpdatePMOwnerLead</targetReference>
            </connector>
            <label>Owner/Lead</label>
        </rules>
    </decisions>
    <description>Update the selected Project Member record.</description>
    <environments>Default</environments>
    <interviewLabel>Imhotep - Project Member - Update {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <isTemplate>true</isTemplate>
    <label>Imhotep - Project Member - Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getProjectMember</name>
        <label>Get Project Member</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>subflowCheckRole</targetReference>
        </connector>
        <faultConnector>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>s01</name>
        <label>Modify Details</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decIsOwnerLead</targetReference>
        </connector>
        <fields>
            <name>text01a</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Modify Project Member Access&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Project:  {!getProjectMember.Project__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Project Member:  {!getProjectMember.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Update the project member&apos;s details below&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input01_Role</name>
            <choiceReferences>choiceRoleBuilder</choiceReferences>
            <choiceReferences>choiceRoleViewer</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getProjectMember.Role__c</elementReference>
            </defaultValue>
            <fieldText>Role</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getProjectMember.Role__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Owner/Lead</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input01_Notes</name>
            <defaultValue>
                <stringValue>{!getProjectMember.Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Notes are entirely optional, but might help provide info about a person&apos;s specific role, expertise, availability, etc.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Update Project Member</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getProjectMember</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>subflowCheckRole</name>
        <label>Check Role</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>decIsCurrentUserAuthorized</targetReference>
        </connector>
        <flowName>Imhotep_General_CheckProjectMemberRole</flowName>
        <inputAssignments>
            <name>inputProjectId</name>
            <value>
                <elementReference>getProjectMember.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRequiredRole</name>
            <value>
                <stringValue>Owner/Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>subflowHandleScreenError</name>
        <label>Handle Screen Error</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <flowName>Imhotep_General_ScreenFlowError</flowName>
        <inputAssignments>
            <name>inputFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowErrorScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>subflowUpdatePMOtherRoles</name>
        <label>Update PM (Other Roles)</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <flowName>Imhotep_ProjectMember_CRUDActions</flowName>
        <inputAssignments>
            <name>inputNotes</name>
            <value>
                <elementReference>input01_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputProjectId</name>
            <value>
                <elementReference>getProjectMember.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputProjectMemberId</name>
            <value>
                <elementReference>getProjectMember.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRole</name>
            <value>
                <elementReference>input01_Role</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputSelectedAction</name>
            <value>
                <stringValue>EditProjectMember</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>subflowUpdatePMOwnerLead</name>
        <label>Update PM (Owner/Lead)</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <flowName>Imhotep_ProjectMember_CRUDActions</flowName>
        <inputAssignments>
            <name>inputNotes</name>
            <value>
                <elementReference>input01_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputProjectId</name>
            <value>
                <elementReference>getProjectMember.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputProjectMemberId</name>
            <value>
                <elementReference>getProjectMember.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRole</name>
            <value>
                <elementReference>getProjectMember.Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputSelectedAction</name>
            <value>
                <stringValue>EditProjectMember</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Project Member recordId</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
