force-app/main/default/flows/Imhotep_Release_NewStory.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>actionNavigateToNewStory</name>
        <label>Navigate to New Story</label>
        <locationX>314</locationX>
        <locationY>2270</locationY>
        <actionName>iab:imhotepFlowNavigateToURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>targetObject</name>
            <value>
                <stringValue>Story</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varDraftStoryRec.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>projectId</name>
            <value>
                <elementReference>varDraftStoryRec.Project__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>iab:imhotepFlowNavigateToURL</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>setAssigned</name>
        <label>Set Assigned</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProjectMemberForCurrentUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>s01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDraftStory</name>
        <label>Set Draft Story</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Story_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_StoryType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Story_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_StoryDescription.outputValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Parent_Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_ParentStory.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Requested_Release__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_RequestedRelease.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Release__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRecordType.outputStoryRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Priority_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPriorityDefault</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getRelease.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_AssignedProjectMember.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decIsAssigned</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNewPriorityTo1</name>
        <label>Set New Priority to 1</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varPriorityDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getProjectMemberForCurrentUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setNewPriorityToNPlus1</name>
        <label>Set New Priority to N+1</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varPriorityDefault</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaNewStoryPriority</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getProjectMemberForCurrentUser</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceUnassignedStory</name>
        <choiceText>Unassigned</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>decIsAssigned</name>
        <label>Is Assigned?</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>createStory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Assigned</defaultConnectorLabel>
        <rules>
            <name>outAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDraftStoryRec.Assigned__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDraftStoryRec.Assigned__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varDraftStoryRec.Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAssignedProjectMember</targetReference>
            </connector>
            <label>Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only a Builder or Owner/Lead can create Stories.</description>
        <name>decIsCurrentUserAuthorized</name>
        <label>Is Current User Authorized?</label>
        <locationX>930</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Not Authorized</defaultConnectorLabel>
        <rules>
            <name>outCurrentUserAuthorizedYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflowCheckRole.outputIsAuthorized</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getLowestPriorityStory</targetReference>
            </connector>
            <label>Authorized</label>
        </rules>
    </decisions>
    <decisions>
        <name>decSendEmail</name>
        <label>Send Email?</label>
        <locationX>314</locationX>
        <locationY>1970</locationY>
        <defaultConnector>
            <targetReference>actionNavigateToNewStory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Email</defaultConnectorLabel>
        <rules>
            <name>outSendEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input01_NotifyByEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDraftStoryRec.Assigned__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDraftStoryRec.Assigned__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varDraftStoryRec.Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>subflowSendEmailToAssigned</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>decStoryFound</name>
        <label>Story Found?</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>setNewPriorityTo1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>outStoryFoundYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getLowestPriorityStory.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setNewPriorityToNPlus1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Create a new user story from a Release.  Inputs:  recordId (for Release).</description>
    <dynamicChoiceSets>
        <name>choicesProjectMembers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRelease.Project__c</elementReference>
            </value>
        </filters>
        <object>Project_Member__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>All Releases related to the current Release&apos;s Project.</description>
        <name>choicesProjectReleases</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRelease.Project__c</elementReference>
            </value>
        </filters>
        <object>Release__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>All Stories related to the current Release&apos;s Project.</description>
        <name>choicesProjectStories</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRelease.Project__c</elementReference>
            </value>
        </filters>
        <object>Story__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>listStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Story__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>listStoryType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Story_Type__c</picklistField>
        <picklistObject>Story__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formulaNewStoryPriority</name>
        <dataType>Number</dataType>
        <expression>{!getLowestPriorityStory.Priority_Order__c}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Imhotep - Release - New Story {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <isTemplate>true</isTemplate>
    <label>Imhotep - Release - New Story</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createStory</name>
        <label>Create Story</label>
        <locationX>314</locationX>
        <locationY>1862</locationY>
        <connector>
            <targetReference>decSendEmail</targetReference>
        </connector>
        <faultConnector>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <inputReference>varDraftStoryRec</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Retrieve the active custom metadata type settings for Imhotep App Builder.  Only one metadata type record is retrieved (where Active = true).  If there are multiple active records, you may experience errors until you update old records (uncheck the Active checkbox).</description>
        <name>getActiveCustomMetadataSettings</name>
        <label>Get Active Custom Metadata Settings</label>
        <locationX>930</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelease</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Imhotep_Config__mdt</object>
        <sortField>DeveloperName</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAssignedProjectMember</name>
        <label>Get Assigned Project Member</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createStory</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDraftStoryRec.Assigned__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getLowestPriorityStory</name>
        <label>Get Lowest Priority Story</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decStoryFound</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Release__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Story__c</object>
        <sortField>Priority_Order__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProjectMemberForCurrentUser</name>
        <label>Get Project Member for Current User</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setAssigned</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getRelease.Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelease</name>
        <label>Get Release</label>
        <locationX>930</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>subflowCheckRole</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Release__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>s01</name>
        <label>New Story Details</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getRecordType</targetReference>
        </connector>
        <fields>
            <name>text01a</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 18px;&quot;&gt;Create a New Story&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Release:  {!getRelease.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Please enter the details of your new story:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>s01_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s01_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input01_StoryType</name>
                    <choiceReferences>listStoryType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>New</stringValue>
                    </defaultValue>
                    <fieldText>Story Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s01_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input01_Status</name>
                    <choiceReferences>listStatus</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Defined</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varDraftStoryRec.Expedite__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>varDraftStoryRec.Name</objectFieldReference>
        </fields>
        <fields>
            <name>input01_StoryDescription</name>
            <extensionName>iab:imhotepFlowRichText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tooltipText</name>
                <value>
                    <elementReference>$Label.iab__StoryFieldStoryDescriptionHelp</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelText</name>
                <value>
                    <elementReference>$Label.iab__StoryFieldStoryDescriptionLabel</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>s01_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s01_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varDraftStoryRec.Estimated_Points__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s01_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input01_ParentStory</name>
                    <choiceReferences>choicesProjectStories</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Parent Story</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Search Project&apos;s Stories...</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s01_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input01_RequestedRelease</name>
                    <choiceReferences>choicesProjectReleases</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Requested Release</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Search Project&apos;s Releases...</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>getRelease.Is_Backlog__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>s01_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s01_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input01_AssignedProjectMember</name>
                    <choiceReferences>choiceUnassignedStory</choiceReferences>
                    <choiceReferences>choicesProjectMembers</choiceReferences>
                    <defaultValue>
                        <elementReference>varDraftStoryRec.Assigned__c</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Assigned Project Member (or leave unassigned)</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Search Project Members...</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s01_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input01_NotifyByEmail</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Notify assigned project member by email</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>input01_AssignedProjectMember.selectedChoiceValues</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create Story</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>804</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getActiveCustomMetadataSettings</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>getRecordType</name>
        <label>Get Record Type</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>setDraftStory</targetReference>
        </connector>
        <flowName>Imhotep_General_GetRecordTypes</flowName>
        <inputAssignments>
            <name>inputReleaseMode</name>
            <value>
                <elementReference>getRelease.Release_Mode__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Check to see if the current user is a Builder of the project.</description>
        <name>subflowCheckRole</name>
        <label>Check Role</label>
        <locationX>930</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>decIsCurrentUserAuthorized</targetReference>
        </connector>
        <flowName>Imhotep_General_CheckProjectMemberRole</flowName>
        <inputAssignments>
            <name>inputProjectId</name>
            <value>
                <elementReference>getRelease.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRequiredRole</name>
            <value>
                <stringValue>Builder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>subflowHandleScreenError</name>
        <label>Handle Screen Error</label>
        <locationX>754</locationX>
        <locationY>1970</locationY>
        <flowName>Imhotep_General_ScreenFlowError</flowName>
        <inputAssignments>
            <name>inputFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowErrorScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>subflowSendEmailToAssigned</name>
        <label>Send Email to Assigned</label>
        <locationX>182</locationX>
        <locationY>2078</locationY>
        <connector>
            <targetReference>actionNavigateToNewStory</targetReference>
        </connector>
        <flowName>Imhotep_General_SendEmail</flowName>
        <inputAssignments>
            <name>inputEmailType</name>
            <value>
                <stringValue>StoryAssigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecipientUserId</name>
            <value>
                <elementReference>getAssignedProjectMember.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>varDraftStoryRec.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDraftStoryRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Story__c</objectType>
    </variables>
    <variables>
        <name>varPriorityDefault</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
