force-app/main/default/flows/Imhotep_General_NewProject.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>actionNavigateToRecord</name>
        <label>Navigate to Record</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <actionName>iab:imhotepFlowNavigate</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>varRecDraftProject.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>iab:imhotepFlowNavigate</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setDraftBacklogRelease</name>
        <label>Set Draft Backlog Release</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varRecDraftBacklogRelease.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecDraftProject.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftBacklogRelease.Is_Backlog__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftBacklogRelease.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.iab__ReleaseBacklogDefaultName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftBacklogRelease.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Planning</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftBacklogRelease.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>subflowGetRecordTypes.outputReleaseRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftBacklogRelease.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftBacklogRelease.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.iab__ReleaseBacklogDefaultDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftBacklogRelease.Release_Mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_DefaultReleaseMode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createBacklogRelease</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDraftProjectRec</name>
        <label>Set Draft Project Rec</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varRecDraftProject.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftProject.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftProject.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftProject.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftProject.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftProject.Default_Release_Mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_DefaultReleaseMode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createProject</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Developer name for the default Release record type</description>
        <name>cReleaseRTDevName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard_Release</stringValue>
        </value>
    </constants>
    <description>Screen flow to create a new Project.</description>
    <dynamicChoiceSets>
        <name>choicesProjectStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Project__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choicesProjectType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Project__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choicesReleaseMode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Default_Release_Mode__c</picklistField>
        <picklistObject>Project__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Default project name</description>
        <name>fProjectName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$User.FirstName}), &quot;My New Project&quot;, {!$User.FirstName} &amp; &quot;&apos;s New Project&quot;)</expression>
    </formulas>
    <formulas>
        <name>fToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Imhotep - Project - New Project {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <isTemplate>true</isTemplate>
    <label>Imhotep - General - New Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createBacklogRelease</name>
        <label>Create Backlog Release</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>subflowSendEmail</targetReference>
        </connector>
        <faultConnector>
            <targetReference>subflowHandleError</targetReference>
        </faultConnector>
        <inputReference>varRecDraftBacklogRelease</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createProject</name>
        <label>Create Project</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>subflowCreateProjectMember</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleError</targetReference>
        </faultConnector>
        <inputReference>varRecDraftProject</inputReference>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>s01</name>
        <label>Enter Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setDraftProjectRec</targetReference>
        </connector>
        <fields>
            <name>text01a</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Create a New Project&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Begin tracking a new project!&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;  Provide a few details below:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>input01_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>fProjectName</elementReference>
            </defaultValue>
            <fieldText>Project Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>s01_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s01_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input01_Type</name>
                    <choiceReferences>choicesProjectType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Implementation</stringValue>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s01_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input01_Status</name>
                    <choiceReferences>choicesProjectStatus</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Planning</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>input01_Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>input01_DefaultReleaseMode</name>
            <choiceReferences>choicesReleaseMode</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Standard</stringValue>
            </defaultValue>
            <fieldText>Default Release Mode</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Default setting for controlling the features and layout enabled for this project&apos;s related releases and stories.&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Default is Standard (all Imhotep features enabled).&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Individual releases and stories can override this selection.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Changes to this selection do not effect existing releases and stories.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create New Project &gt;</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s99</name>
        <label>Project Created</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>actionNavigateToRecord</targetReference>
        </connector>
        <fields>
            <name>text99a</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Create a New Project&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Your new project was created successfully&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.  We&apos;ve also created a backlog for you to start using.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Time to get to work!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>s01</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>subflowCreateProjectMember</name>
        <label>Create Project Member</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>subflowGetRecordTypes</targetReference>
        </connector>
        <flowName>Imhotep_ProjectMember_CRUDActions</flowName>
        <inputAssignments>
            <name>inputNotes</name>
            <value>
                <stringValue>Lead for this project</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputProjectId</name>
            <value>
                <elementReference>varRecDraftProject.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRole</name>
            <value>
                <stringValue>Owner/Lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputSelectedAction</name>
            <value>
                <stringValue>CreateInitialProjectMember</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputSendEmail</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputUserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>subflowGetRecordTypes</name>
        <label>Get Record Types</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>setDraftBacklogRelease</targetReference>
        </connector>
        <flowName>Imhotep_General_GetRecordTypes</flowName>
        <inputAssignments>
            <name>inputReleaseMode</name>
            <value>
                <elementReference>input01_DefaultReleaseMode</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>subflowHandleError</name>
        <label>Handle Error with Screen</label>
        <locationX>440</locationX>
        <locationY>890</locationY>
        <flowName>Imhotep_General_ScreenFlowError</flowName>
        <inputAssignments>
            <name>inputFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowErrorScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>subflowSendEmail</name>
        <label>Send Email to Project Owner/Lead</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>s99</targetReference>
        </connector>
        <flowName>Imhotep_General_SendEmail</flowName>
        <inputAssignments>
            <name>inputEmailType</name>
            <value>
                <stringValue>NewProject</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecipientUserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>varRecDraftProject.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varRecDraftBacklogRelease</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Release__c</objectType>
    </variables>
    <variables>
        <name>varRecDraftProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
</Flow>
