force-app/main/default/flows/Imhotep_Story_Edit.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>setDraftStory</name>
        <label>Set Draft Story</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varDraftStoryRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getStory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>s01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setUpdateDraftStory</name>
        <label>Update Draft Story</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Story_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_StoryType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Story_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_StoryDescription.outputValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Parent_Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_ParentStory.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Requested_Release__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_RequestedRelease.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Release__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_Release.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Assigned__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_AssignedProjectMember.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Solution_Build_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_SolutionBuildNotes.outputValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Acceptance_Criteria_Tests__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_AcceptanceCriteriaTests.outputValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftStoryRec.Deployment_Checklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_DeploymentChecklist.outputValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateStory</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceUnassignedStory</name>
        <choiceText>Unassigned</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <description>Only a Builder or Owner/Lead can create Stories.</description>
        <name>decIsCurrentUserAuthorized</name>
        <label>Is Current User Authorized?</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Not Authorized</defaultConnectorLabel>
        <rules>
            <name>outCurrentUserAuthorizedYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflowCheckRole.outputIsAuthorized</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setDraftStory</targetReference>
            </connector>
            <label>Authorized</label>
        </rules>
    </decisions>
    <decisions>
        <name>decSendEmail</name>
        <label>Send Email?</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>No Email</defaultConnectorLabel>
        <rules>
            <name>outSendEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDraftStoryRec.Assigned__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>getStory.Assigned__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDraftStoryRec.Assigned__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDraftStoryRec.Assigned__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varDraftStoryRec.Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>subflowSendEmailToAssigned</targetReference>
            </connector>
            <label>Send Email</label>
        </rules>
    </decisions>
    <description>Edit an existing Story.  Input variable(s):  recordId (expecting Story recordId).</description>
    <dynamicChoiceSets>
        <name>choicesProjectMembers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getStory.Release__r.Project__c</elementReference>
            </value>
        </filters>
        <object>Project_Member__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>All Releases related to the current Release&apos;s Project.</description>
        <name>choicesProjectReleases</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getStory.Release__r.Project__c</elementReference>
            </value>
        </filters>
        <object>Release__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>All Stories related to the current Release&apos;s Project.</description>
        <name>choicesProjectStories</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getStory.Release__r.Project__c</elementReference>
            </value>
        </filters>
        <object>Story__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>listStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Story__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>listStoryType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Story_Type__c</picklistField>
        <picklistObject>Story__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Imhotep - Story - Edit {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <isTemplate>true</isTemplate>
    <label>Imhotep - Story - Edit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Retrieve the active custom metadata type settings for Imhotep App Builder.  Only one metadata type record is retrieved (where Active = true).  If there are multiple active records, you may experience errors until you update old records (uncheck the Active checkbox).</description>
        <name>getActiveCustomMetadataSettings</name>
        <label>Get Active Custom Metadata Settings</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getStory</targetReference>
        </connector>
        <faultConnector>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Imhotep_Config__mdt</object>
        <sortField>DeveloperName</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStory</name>
        <label>Get Story</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>subflowCheckRole</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateStory</name>
        <label>Update Story</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>decSendEmail</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <inputReference>varDraftStoryRec</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>s01</name>
        <label>Edit Story Details</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setUpdateDraftStory</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>varDraftStoryRec.Name</objectFieldReference>
        </fields>
        <fields>
            <name>input01_StoryDescription</name>
            <extensionName>iab:imhotepFlowRichText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>varDraftStoryRec.Story_Description__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tooltipText</name>
                <value>
                    <elementReference>$Label.iab__StoryFieldStoryDescriptionHelp</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelText</name>
                <value>
                    <elementReference>$Label.iab__StoryFieldStoryDescriptionLabel</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>input01_SolutionBuildNotes</name>
            <extensionName>iab:imhotepFlowRichText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>varDraftStoryRec.Solution_Build_Notes__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelText</name>
                <value>
                    <elementReference>$Label.iab__StoryFieldSolutionBuildNotesLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tooltipText</name>
                <value>
                    <elementReference>$Label.iab__StoryFieldSolutionBuildNotesHelp</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>input01_AcceptanceCriteriaTests</name>
            <extensionName>iab:imhotepFlowRichText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>varDraftStoryRec.Acceptance_Criteria_Tests__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelText</name>
                <value>
                    <elementReference>$Label.iab__StoryFieldAcceptanceCriteriaTestsLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tooltipText</name>
                <value>
                    <elementReference>$Label.iab__StoryFieldAcceptanceCriteriaTestsHelp</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>input01_DeploymentChecklist</name>
            <extensionName>iab:imhotepFlowRichText</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>varDraftStoryRec.Deployment_Checklist__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>labelText</name>
                <value>
                    <elementReference>$Label.iab__StoryFieldDeploymentChecklistLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tooltipText</name>
                <value>
                    <elementReference>$Label.iab__StoryFieldDeploymentChecklistHelp</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>input01_StoryDetails</name>
            <fieldText>Story Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>input01_StoryDetails_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input01_StoryType</name>
                    <choiceReferences>listStoryType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varDraftStoryRec.Story_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Story Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varDraftStoryRec.Expedite__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>input01_StoryDetails_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input01_Status</name>
                    <choiceReferences>listStatus</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varDraftStoryRec.Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>input01_Release</name>
                    <choiceReferences>choicesProjectReleases</choiceReferences>
                    <defaultValue>
                        <elementReference>varDraftStoryRec.Release__c</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Release</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Search Project&apos;s Releases...</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>input01_RequestedRelease</name>
                    <choiceReferences>choicesProjectReleases</choiceReferences>
                    <defaultValue>
                        <elementReference>varDraftStoryRec.Requested_Release__c</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Requested Release</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Search Project&apos;s Releases...</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>getStory.Release__r.Is_Backlog__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>input01_ParentStory</name>
                    <choiceReferences>choicesProjectStories</choiceReferences>
                    <defaultValue>
                        <elementReference>varDraftStoryRec.Parent_Story__c</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Parent Story</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Search Project&apos;s Stories...</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>input01_LevelOfEffort</name>
            <fieldText>Level of Effort</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>input01_LevelOfEffort_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>input01_LevelOfEffort_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>s01_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s01_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varDraftStoryRec.Estimated_Points__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varDraftStoryRec.Actual_Points__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s01_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input01_AssignedProjectMember</name>
                    <choiceReferences>choiceUnassignedStory</choiceReferences>
                    <choiceReferences>choicesProjectMembers</choiceReferences>
                    <defaultValue>
                        <elementReference>varDraftStoryRec.Assigned__c</elementReference>
                    </defaultValue>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Assigned Project Member (or leave unassigned)</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Search Project Members...</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Update Story</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getActiveCustomMetadataSettings</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Check to see if the current user is a Builder of the project.</description>
        <name>subflowCheckRole</name>
        <label>Check Role</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>decIsCurrentUserAuthorized</targetReference>
        </connector>
        <flowName>Imhotep_General_CheckProjectMemberRole</flowName>
        <inputAssignments>
            <name>inputProjectId</name>
            <value>
                <elementReference>getStory.Release__r.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRequiredRole</name>
            <value>
                <stringValue>Builder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>subflowHandleScreenError</name>
        <label>Handle Screen Error</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <flowName>Imhotep_General_ScreenFlowError</flowName>
        <inputAssignments>
            <name>inputFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowErrorScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>subflowSendEmailToAssigned</name>
        <label>Send Email to Assigned</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <flowName>Imhotep_General_SendEmail</flowName>
        <inputAssignments>
            <name>inputEmailType</name>
            <value>
                <stringValue>StoryAssigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecipientUserId</name>
            <value>
                <elementReference>varDraftStoryRec.Assigned__r.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>varDraftStoryRec.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDraftStoryRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Story__c</objectType>
    </variables>
    <variables>
        <description>When a Project Member is selected in the Assigned field, this variable stores the related iab__User__c field value (a record Id).</description>
        <name>varSelectedProjectMember_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
