force-app/main/default/flows/Imhotep_General_CheckRole.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>setCountRolesForBuilder</name>
        <label>Count Roles</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>countFoundRoles</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getLookForOwnerOrBuilder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decCurrentUserAuthorized</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCountRolesForOwner</name>
        <label>Count Roles</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>countFoundRoles</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getLookForOwner</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decCurrentUserAuthorized</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCountRolesForViewer</name>
        <label>Count Roles</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>countFoundRoles</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getLookForViewer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decCurrentUserAuthorized</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setOutputVariablesAuthorized</name>
        <label>Set Output Variables (Authorized)</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>outputIsAuthorized</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setOutputVariablesNotAuthorized</name>
        <label>Set Output Variables (Not Authorized)</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>outputIsAuthorized</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Does the current user have the required role?</description>
        <name>decCurrentUserAuthorized</name>
        <label>Current User Authorized?</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>setOutputVariablesNotAuthorized</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Authorized</defaultConnectorLabel>
        <rules>
            <name>outCurrentUserIsAuthorizedYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countFoundRoles</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setOutputVariablesAuthorized</targetReference>
            </connector>
            <label>Authorized</label>
        </rules>
    </decisions>
    <decisions>
        <name>decRole</name>
        <label>Role</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>decCurrentUserAuthorized</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outRoleOwnerLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputRequiredRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Owner/Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getLookForOwner</targetReference>
            </connector>
            <label>Owner/Lead</label>
        </rules>
        <rules>
            <name>outRoleBuilder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputRequiredRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Builder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getLookForOwnerOrBuilder</targetReference>
            </connector>
            <label>Builder</label>
        </rules>
        <rules>
            <name>outRoleViewer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputRequiredRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Viewer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getLookForViewer</targetReference>
            </connector>
            <label>Viewer</label>
        </rules>
    </decisions>
    <description>Checks role of the current user and determines if access is permitted.</description>
    <environments>Default</environments>
    <interviewLabel>Imhotep - General - Check Role {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Imhotep - General - Check Role</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>See if the current user has the Owner role for the Project.</description>
        <name>getLookForOwner</name>
        <label>Look for Owner</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setCountRolesForOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputProjectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Owner/Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>See if the current user has a minimum role of Builder for the Project.</description>
        <name>getLookForOwnerOrBuilder</name>
        <label>Look for Builder +</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setCountRolesForBuilder</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputProjectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Owner/Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Builder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>See if the current user has a minimum role of Viewer for the Project.</description>
        <name>getLookForViewer</name>
        <label>Look for Viewer +</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setCountRolesForViewer</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputProjectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Viewer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Builder</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Owner/Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProject</name>
        <label>Get Project</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decRole</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputProjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getProject</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>countFoundRoles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>inputProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Role required to perform a task.</description>
        <name>inputRequiredRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>When checked, the parent flow wants a screen to appear if a user is found to not possess the required role to perform a function.</description>
        <name>inputShowScreen</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>When checked, the current user is authorized to perform a function.  The value is returned to the parent flow as an output variable.</description>
        <name>outputIsAuthorized</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
