force-app/main/default/flows/Imhotep_Story_LogChange.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>setComponent</name>
        <label>Set Component</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varDraftComponent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getSelectedComponent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>s03</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDraftComponent01</name>
        <label>Set Draft Component</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varDraftComponent.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input02_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftComponent.API_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input02_APIName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftComponent.Metadata_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_MetadataTypeActionList.outputSelectedMetadataType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftComponent.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input02_ComponentNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftComponent.Parent_Metadata_Component__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input02_ParentComponent.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftComponent.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getStory.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftComponent.Is_Deleted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftComponent.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input02_Category</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createComponent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDraftComponentChange01</name>
        <label>Set Draft Component Change</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varDraftComponentChange.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaComponentChangeName01</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftComponentChange.Change_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input02_ChangeNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftComponentChange.Metadata_Component__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDraftComponent.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftComponentChange.Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftComponentChange.Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftComponentChange.Release__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getStory.Release__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createComponentChange</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDraftComponentChange02</name>
        <label>Set Draft Component Change</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varDraftComponentChange.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaComponentChangeName02</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftComponentChange.Change_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input03_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftComponentChange.Metadata_Component__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_MetadataTypeActionList.outputSelectedComponent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftComponentChange.Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftComponentChange.Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_MetadataTypeActionList.outputSelectedChangeType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftComponentChange.Release__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getStory.Release__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decDeletingAComponent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setUpdateComponent</name>
        <label>Update Component</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>varDraftComponent.Is_Deleted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateComponent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decChangeTypeNew</name>
        <label>Change Type?</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>getSelectedComponent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>outChangeTypeNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input01_MetadataTypeActionList.outputSelectedChangeType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>s02</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>decDeletingAComponent</name>
        <label>Deleting a Component?</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>createComponentChange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>outDeletingAComponent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input01_MetadataTypeActionList.outputSelectedChangeType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deleted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setUpdateComponent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only a Builder or Owner/Lead can create log changes to metadata components.</description>
        <name>decIsCurrentUserAuthorized</name>
        <label>Is Current User Authorized?</label>
        <locationX>1128</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Not Authorized</defaultConnectorLabel>
        <rules>
            <name>outCurrentUserAuthorized</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflowCheckRole.outputIsAuthorized</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>s01</targetReference>
            </connector>
            <label>Authorized</label>
        </rules>
    </decisions>
    <description>From a story, log a change to a Metadata Component (creates a Metadata Component Change and, if necessary, a new Metadata Component).</description>
    <dynamicChoiceSets>
        <name>choicesCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Category__c</picklistField>
        <picklistObject>Metadata_Component__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formulaComponentChangeName01</name>
        <dataType>String</dataType>
        <expression>{!input01_MetadataTypeActionList.outputSelectedChangeType} &amp; &quot;: &quot; &amp; {!input02_Name}</expression>
    </formulas>
    <formulas>
        <name>formulaComponentChangeName02</name>
        <dataType>String</dataType>
        <expression>{!input01_MetadataTypeActionList.outputSelectedChangeType} &amp; &quot;: &quot; &amp; {!getSelectedComponent.Name}</expression>
    </formulas>
    <interviewLabel>Imhotep - Story - Metadata Component Change {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <isTemplate>true</isTemplate>
    <label>Imhotep - Story - Log Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createComponent</name>
        <label>Create Component</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>setDraftComponentChange01</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <inputReference>varDraftComponent</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createComponentChange</name>
        <label>Create Component Change</label>
        <locationX>446</locationX>
        <locationY>1646</locationY>
        <faultConnector>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <inputReference>varDraftComponentChange</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getSelectedComponent</name>
        <label>Get Selected Component</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setComponent</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input01_MetadataTypeActionList.outputSelectedComponent</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Metadata_Component__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStory</name>
        <label>Get Story</label>
        <locationX>1128</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>subflowCheckRole</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateComponent</name>
        <label>Update Component</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>createComponentChange</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <inputReference>varDraftComponent</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>s01</name>
        <label>Make Selections</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decChangeTypeNew</targetReference>
        </connector>
        <fields>
            <name>text01a</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Log a Metadata Change﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text01b</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;As you make changes in your Salesforce environment, you can log them here to keep better track of them (examples: creating a new LWC, updating an existing flow, or deleting a custom field).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text01c</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;To get started, scroll the list and select a metadata type.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input01_MetadataTypeActionList</name>
            <extensionName>iab:imhotepFlowMetadataTypeActionList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>projectId</name>
                <value>
                    <elementReference>getStory.Release__r.Project__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next &gt;</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s02</name>
        <label>Provide Component Details</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>&lt; Back</backButtonLabel>
        <connector>
            <targetReference>setDraftComponent01</targetReference>
        </connector>
        <fields>
            <name>text02a</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Log a Metadata Change&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text02b</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(150, 148, 146);&quot;&gt;Change Type&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;:  {!input01_MetadataTypeActionList.outputSelectedChangeType}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(150, 148, 146);&quot;&gt;Metadata Type&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;:  {!input01_MetadataTypeActionList.outputSelectedMetadataType}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text02c</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Enter the details of the metadata component you are creating in this story:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>s02_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s02_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input02_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Name / Label</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>input02_APIName</name>
                    <dataType>String</dataType>
                    <fieldText>API Name (if any)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s02_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input02_ParentComponent</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>iab__Parent_Metadata_Component__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>iab__Metadata_Component__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Parent Metadata Component (if any)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>input02_Category</name>
                    <choiceReferences>choicesCategory</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Custom</stringValue>
                    </defaultValue>
                    <fieldText>Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>input02_ComponentNotes</name>
            <fieldText>Metadata Component Notes (if any)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>input02_ChangeNotes</name>
            <fieldText>Change Notes (if any)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Log Change</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s03</name>
        <label>Provide Change Notes</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>&lt; Back</backButtonLabel>
        <connector>
            <targetReference>setDraftComponentChange02</targetReference>
        </connector>
        <fields>
            <name>text03a</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Log a Metadata Change&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text03b</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(150, 148, 146); font-size: 14px;&quot;&gt;Change Type&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;:  {!input01_MetadataTypeActionList.outputSelectedChangeType}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;font-size: 14px; color: rgb(150, 148, 146);&quot;&gt;Metadata Type&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;:  {!input01_MetadataTypeActionList.outputSelectedMetadataType}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(150, 148, 146); font-size: 14px;&quot;&gt;Metadata Component&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;:  {!getSelectedComponent.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text03c</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Provide notes about the change being made:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>input03_Notes</name>
            <fieldText>Change Notes (if any)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Log Change</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1002</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getStory</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Check to see if the current user is a Builder of the project.</description>
        <name>subflowCheckRole</name>
        <label>Check Role</label>
        <locationX>1128</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>decIsCurrentUserAuthorized</targetReference>
        </connector>
        <flowName>Imhotep_General_CheckProjectMemberRole</flowName>
        <inputAssignments>
            <name>inputProjectId</name>
            <value>
                <elementReference>getStory.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRequiredRole</name>
            <value>
                <stringValue>Builder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>subflowHandleScreenError</name>
        <label>Handle Screen Error</label>
        <locationX>1546</locationX>
        <locationY>1754</locationY>
        <flowName>Imhotep_General_ScreenFlowError</flowName>
        <inputAssignments>
            <name>inputFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowErrorScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Story recordId</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDraftComponent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Metadata_Component__c</objectType>
    </variables>
    <variables>
        <name>varDraftComponentChange</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Metadata_Component_Change__c</objectType>
    </variables>
</Flow>
