force-app/main/default/flows/Imhotep_Story_NewTagAssignment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>actionConvertStringToColl</name>
        <label>Convert String to Coll</label>
        <locationX>1522</locationX>
        <locationY>998</locationY>
        <actionName>ImhotepStringToCollectionInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getExistingTagAssignments</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputString</name>
            <value>
                <elementReference>input01_Tag</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ImhotepStringToCollectionInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setAddExistingTagIdToColl</name>
        <label>Add Existing Tag Id to Coll</label>
        <locationX>1458</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>varExistingIdColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopExistingAssignments.Tag__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopExistingAssignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCountActiveTags</name>
        <label>Count Active Tags</label>
        <locationX>852</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>countActiveTags</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getActiveTags</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>s01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCountExistingTagAssignments</name>
        <label>Count Existing Tag Assignments</label>
        <locationX>1522</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>countExistingTagAssignments</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getExistingTagAssignments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decAnyExistingTagAssignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setCountExistingTags</name>
        <label>Count Existing Tags</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>countExistingTags</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getCheckForExistingTags</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decAnyExistingTags</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDraftTag</name>
        <label>Set Draft Tag</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varDraftTag.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftTag.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftTag.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getStory.Project__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getCheckForExistingTags</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDraftTagAssignment</name>
        <label>Set Draft Tag Assignment</label>
        <locationX>1634</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>varDraftTagAssignment.Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftTagAssignment.Tag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopEvaluateSelectedTags</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCollDraftAssignment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDraftTagAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopEvaluateSelectedTags</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDraftTagAssignment01</name>
        <label>Set Draft Tag Assignment</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>varDraftTagAssignment.Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftTagAssignment.Tag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDraftTag.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCollDraftAssignment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDraftTagAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createTagAssignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDraftTagAssignment03</name>
        <label>Set Draft Tag Assignment</label>
        <locationX>1762</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>varDraftTagAssignment.Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftTagAssignment.Tag__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopCreateAllDraftAssignments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCollDraftAssignment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDraftTagAssignment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCreateAllDraftAssignments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setErrors</name>
        <label>Reset Errors</label>
        <locationX>852</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>errorExistingTag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCreateTag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_CreateTag.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorExistingTagAssignment</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decCreateNewTag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setExistingTagError</name>
        <label>Set Existing Tag Error</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>errorExistingTag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>s01</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decAnyExistingTagAssignments</name>
        <label>Any Existing Tag Assignments?</label>
        <locationX>1522</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>loopCreateAllDraftAssignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>outAnyExistingTagAssignmentsYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countExistingTagAssignments</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopExistingAssignments</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decAnyExistingTags</name>
        <label>Any Existing Tags?</label>
        <locationX>182</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>createTag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>outAnyExistingTagsYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countExistingTags</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setExistingTagError</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decCreateNewTag</name>
        <label>Create New Tag?</label>
        <locationX>852</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>actionConvertStringToColl</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>outCreateNewTagYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCreateTag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setDraftTag</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only a Builder or Owner/Lead can assign tags to stories.</description>
        <name>decIsCurrentUserAuthorized</name>
        <label>Is Current User Authorized?</label>
        <locationX>1767</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Not Authorized</defaultConnectorLabel>
        <rules>
            <name>outCurrentUserAuthorizedYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflowCheckRole.outputIsAuthorized</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getActiveTags</targetReference>
            </connector>
            <label>Authorized</label>
        </rules>
    </decisions>
    <decisions>
        <name>decIsTagAlreadyAssigned</name>
        <label>Is Tag Already Assigned?</label>
        <locationX>1546</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>setDraftTagAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Assigned</defaultConnectorLabel>
        <rules>
            <name>outTagAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varExistingIdColl</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopEvaluateSelectedTags</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopEvaluateSelectedTags</targetReference>
            </connector>
            <label>Assigned</label>
        </rules>
    </decisions>
    <description>From a Story, create a Tag Assignment record to associate the Story to an active Tag.</description>
    <dynamicChoiceSets>
        <name>listActiveTags</name>
        <collectionReference>getActiveTags</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Tag__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Dev - New Tag Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <isTemplate>true</isTemplate>
    <label>Imhotep - Story - New Tag Assignment</label>
    <loops>
        <description>No existing tag assignments, so just assign all the selected tags to the story.</description>
        <name>loopCreateAllDraftAssignments</name>
        <label>Loop to Create All Draft Assignments</label>
        <locationX>1674</locationX>
        <locationY>1430</locationY>
        <collectionReference>actionConvertStringToColl.outputStringCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setDraftTagAssignment03</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createTagAssignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Check if the string collection for existing tags contains any of the selected tags.</description>
        <name>loopEvaluateSelectedTags</name>
        <label>Loop to Evaluate Selected Tags</label>
        <locationX>1370</locationX>
        <locationY>1730</locationY>
        <collectionReference>actionConvertStringToColl.outputStringCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decIsTagAlreadyAssigned</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createTagAssignments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Create a string collection of Ids for all tags currently assigned to the story.</description>
        <name>loopExistingAssignments</name>
        <label>Loop on Existing Assignments</label>
        <locationX>1370</locationX>
        <locationY>1430</locationY>
        <collectionReference>getExistingTagAssignments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setAddExistingTagIdToColl</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopEvaluateSelectedTags</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createTag</name>
        <label>Create Tag</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>setDraftTagAssignment01</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <inputReference>varDraftTag</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createTagAssignments</name>
        <label>Create Tag Assignments</label>
        <locationX>852</locationX>
        <locationY>2390</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <inputReference>varCollDraftAssignment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getActiveTags</name>
        <label>Get Active Tags</label>
        <locationX>852</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setCountActiveTags</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getStory.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Tag__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCheckForExistingTags</name>
        <label>Check for Existing Tags</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setCountExistingTags</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input01_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getStory.Project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Tag__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getExistingTagAssignments</name>
        <label>Get Existing Tag Assignments</label>
        <locationX>1522</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>setCountExistingTagAssignments</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Tag_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStory</name>
        <label>Get Story</label>
        <locationX>1767</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>subflowCheckRole</targetReference>
        </connector>
        <faultConnector>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>s01</name>
        <label>Select Tag</label>
        <locationX>852</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setErrors</targetReference>
        </connector>
        <fields>
            <name>s01_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s01_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>text01c</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;There are no active Tags.  You may need to create one, or update an inactive one.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>countActiveTags</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>text01a</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Which active Tag should this story be associated with?&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>countActiveTags</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>input01_CreateTag.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>error01_ExistingThemeAssignment</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Story is already linked to the selected Tag.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>errorExistingTagAssignment</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>countActiveTags</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>input01_CreateTag.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>input01_Tag</name>
                    <choiceReferences>listActiveTags</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varDraftTagAssignment.Tag__c</elementReference>
                    </defaultValue>
                    <fieldText>Select a Tag</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>countActiveTags</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>input01_CreateTag.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>text01b</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;If you don&apos;t see the Tag you&apos;re looking for, it&apos;s either inactive or doesn&apos;t exist.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>countActiveTags</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>input01_CreateTag.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s01_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input01_CreateTag</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Create a New Tag?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Yes</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>varCreateTag</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>input01_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varDraftTag.Name</elementReference>
                    </defaultValue>
                    <fieldText>Tag Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>input01_CreateTag.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>error01_ExistingTag</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;&quot;{!input01_Name}&quot; already exists.﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>errorExistingTag</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>input01_CreateTag.value</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Assign Tag</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1641</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getStory</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Check to see if the current user is a Builder of the project.</description>
        <name>subflowCheckRole</name>
        <label>Check Role</label>
        <locationX>1767</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>decIsCurrentUserAuthorized</targetReference>
        </connector>
        <flowName>Imhotep_General_CheckProjectMemberRole</flowName>
        <inputAssignments>
            <name>inputProjectId</name>
            <value>
                <elementReference>getStory.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRequiredRole</name>
            <value>
                <stringValue>Builder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>subflowHandleScreenError</name>
        <label>Handle Screen Error</label>
        <locationX>2946</locationX>
        <locationY>242</locationY>
        <flowName>Imhotep_General_ScreenFlowError</flowName>
        <inputAssignments>
            <name>inputFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowErrorScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>countActiveTags</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countExistingTagAssignments</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countExistingTags</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorExistingTag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>errorExistingTagAssignment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCollDraftAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tag_Assignment__c</objectType>
    </variables>
    <variables>
        <name>varCreateTag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varDraftTag</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tag__c</objectType>
    </variables>
    <variables>
        <name>varDraftTagAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tag_Assignment__c</objectType>
    </variables>
    <variables>
        <name>varExistingIdColl</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
