force-app/main/default/flows/Imhotep_Story_TestScenarioMenuActions.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setDraftNewTestScenario</name>
        <label>Draft New Test Scenario</label>
        <locationX>2162</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varRecDraftNewTestScenario.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input04_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftNewTestScenario.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input04_Description.outputValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftNewTestScenario.Expected_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input04_ExpectedResult.outputValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftNewTestScenario.Instructions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input04_Instructions.outputValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecDraftNewTestScenario.Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecTestScenario.Story__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createNewTestScenario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDraftTestResult</name>
        <label>Set Draft Test Result</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varDraftTestResult.Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input02_Result</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftTestResult.Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecTestScenario.Story__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftTestResult.Test_Scenario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecTestScenario.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftTestResult.Tester_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input02_TesterFeedback.outputValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftTestResult.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRecTestScenario.Story__r.Release__r.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDraftTestResult.Tester__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input02_AssignedTester</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decWhichInitialStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setInitialStatus_Assigned</name>
        <label>Set Initial Status (Assigned)</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varDraftTestResult.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createTestResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setInitialStatus_Reported</name>
        <label>Set Initial Status (Reported)</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varDraftTestResult.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reported</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createTestResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setTestScenarioRecord</name>
        <label>Set Test Scenario Record</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varRecTestScenario</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getTestScenario</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decSelectedMenuIAction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setUpdateDraftTestScenario</name>
        <label>Update Draft Test Scenario</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varRecTestScenario.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_Description.outputValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecTestScenario.Instructions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_Instructions.outputValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecTestScenario.Expected_Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_ExpectedResult.outputValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecTestScenario.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>input01_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateTestScenario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Change status to &quot;Not Ready to Test&quot;</description>
        <name>setUpdateStatus_NotReadyToTest</name>
        <label>Update Status (Not Ready to Test)</label>
        <locationX>1370</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varRecTestScenario.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Ready to Test</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateTestScenario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Change status to &quot;Ready to Test&quot;</description>
        <name>setUpdateStatus_ReadyToTest</name>
        <label>Update Status (Ready to Test)</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varRecTestScenario.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready to Test</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateTestScenario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Change status to &quot;Test Completed&quot;</description>
        <name>setUpdateStatus_TestCompleted</name>
        <label>Update Status (Test Completed)</label>
        <locationX>1898</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varRecTestScenario.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Test Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateTestScenario</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Only a Builder or Owner/Lead can create test scenarios.</description>
        <name>decIsCurrentUserAuthorized</name>
        <label>Is Current User Authorized?</label>
        <locationX>2690</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Not Authorized</defaultConnectorLabel>
        <rules>
            <name>outCurrentUserAuthorizedYES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>subflowCheckRole.outputIsAuthorized</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setTestScenarioRecord</targetReference>
            </connector>
            <label>Authorized</label>
        </rules>
    </decisions>
    <decisions>
        <description>Which menu item did the user select?  See inputSelectedAction variable description for acceptable values.</description>
        <name>decSelectedMenuIAction</name>
        <label>Selected Menu Action?</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outEditTestScenario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputSelectedAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EditTestScenario</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>s01</targetReference>
            </connector>
            <label>EditTestScenario</label>
        </rules>
        <rules>
            <name>outNewTestResults</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputSelectedAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NewTestResults</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getProjectMemberForCurrentUser</targetReference>
            </connector>
            <label>NewTestResults</label>
        </rules>
        <rules>
            <name>outStatusNotReady</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputSelectedAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>StatusNotReady</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setUpdateStatus_NotReadyToTest</targetReference>
            </connector>
            <label>StatusNotReady</label>
        </rules>
        <rules>
            <name>outStatusReady</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputSelectedAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>StatusReady</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setUpdateStatus_ReadyToTest</targetReference>
            </connector>
            <label>StatusReady</label>
        </rules>
        <rules>
            <name>outStatusCompleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputSelectedAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>StatusCompleted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setUpdateStatus_TestCompleted</targetReference>
            </connector>
            <label>StatusCompleted</label>
        </rules>
        <rules>
            <name>outCloneTestScenario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputSelectedAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CloneTestScenario</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>s04</targetReference>
            </connector>
            <label>CloneTestScenario</label>
        </rules>
        <rules>
            <name>outDeleteTestScenario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputSelectedAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DeleteTestScenario</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>s03</targetReference>
            </connector>
            <label>DeleteTestScenario</label>
        </rules>
    </decisions>
    <decisions>
        <name>decSendEmail_TestResultAssigned</name>
        <label>Send Email (TestResultAssigned)?</label>
        <locationX>446</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>decSendEmail_TestResultReported</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Email</defaultConnectorLabel>
        <rules>
            <name>outSendEmail_TestResultAssigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input02_NotifyByEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDraftTestResult.Tester__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varDraftTestResult.Tester__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>varDraftTestResult.Tester__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>subflowSendEmail_TestResultAssigned</targetReference>
            </connector>
            <label>Yes (Assigned Tester Changed)</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only send the email when the Test Result status = Reported and the current user isn&apos;t the Assigned user for the Story.</description>
        <name>decSendEmail_TestResultReported</name>
        <label>Send Email (TestResultReported)?</label>
        <locationX>446</locationX>
        <locationY>1706</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>outSendEmail_TestResultReported</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varDraftTestResult.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reported</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formulaCurrentUserId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varRecTestScenario.Story__r.Assigned__r.User__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>subflowSendEmail_TestResultReported</targetReference>
            </connector>
            <label>Yes (Test Result Reported)</label>
        </rules>
    </decisions>
    <decisions>
        <name>decWhichInitialStatus</name>
        <label>Which Initial Status?</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>setInitialStatus_Assigned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assigned</defaultConnectorLabel>
        <rules>
            <name>outStatusReported</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>input02_Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pass</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input02_Result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setInitialStatus_Reported</targetReference>
            </connector>
            <label>Reported</label>
        </rules>
    </decisions>
    <description>Handles actions selected from the menu of an existing Test Scenario record related to the current Story.  Input variable:  recordId (for Test Scenario record Id) and inputSelectedAction (EditTestScenario, NewTestResults, StatusNotReady, StatusReady, StatusCompleted).</description>
    <dynamicChoiceSets>
        <name>choicesProjectMembers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecTestScenario.Story__r.Release__r.Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Builder</stringValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Owner/Lead</stringValue>
            </value>
        </filters>
        <object>Project_Member__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>For Test Result object</description>
        <name>choicesResult</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Result__c</picklistField>
        <picklistObject>Test_Result__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choicesStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Test_Scenario__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Converts $User.Id from 15 to 18 digits</description>
        <name>formulaCurrentUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>Imhotep - Story - Test Scenario Menu Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <isTemplate>true</isTemplate>
    <label>Imhotep - Story - Test Scenario Menu Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createNewTestScenario</name>
        <label>Create New Test Scenario</label>
        <locationX>2162</locationX>
        <locationY>890</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <inputReference>varRecDraftNewTestScenario</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createTestResult</name>
        <label>Create Test Result</label>
        <locationX>446</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>decSendEmail_TestResultAssigned</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <inputReference>varDraftTestResult</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>deleteTestScenario</name>
        <label>Delete Test Scenario</label>
        <locationX>2690</locationX>
        <locationY>782</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <inputReference>varRecTestScenario</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>getProjectMemberForCurrentUser</name>
        <label>Get Project Member for Current User</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>s02</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecTestScenario.Story__r.Release__r.Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTestScenario</name>
        <label>Get Test Scenario</label>
        <locationX>2690</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>subflowCheckRole</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Test_Scenario__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateTestScenario</name>
        <label>Update Test Scenario</label>
        <locationX>1634</locationX>
        <locationY>2198</locationY>
        <faultConnector>
            <targetReference>subflowHandleScreenError</targetReference>
        </faultConnector>
        <inputReference>varRecTestScenario</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>s01</name>
        <label>Enter Details</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setUpdateDraftTestScenario</targetReference>
        </connector>
        <fields>
            <name>text01a</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Update the details of your test scenario:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>s01_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s01_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input01_Status</name>
                    <choiceReferences>choicesStatus</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varRecTestScenario.Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>s01_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s01_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input01_Description</name>
                    <extensionName>iab:imhotepFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>tooltipText</name>
                        <value>
                            <elementReference>$Label.iab__TestScenarioFieldDescriptionHelp</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labelText</name>
                        <value>
                            <elementReference>$Label.iab__TestScenarioFieldDescriptionLabel</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>varRecTestScenario.Description__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>s01_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s01_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input01_ExpectedResult</name>
                    <extensionName>iab:imhotepFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>labelText</name>
                        <value>
                            <elementReference>$Label.iab__TestScenarioFieldExpectedResultLabel</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tooltipText</name>
                        <value>
                            <elementReference>$Label.iab__TestScenarioFieldExpectedResultHelp</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>varRecTestScenario.Expected_Result__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>s01_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s01_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input01_Instructions</name>
                    <extensionName>iab:imhotepFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>tooltipText</name>
                        <value>
                            <elementReference>$Label.iab__TestScenarioFieldInstructionsHelp</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labelText</name>
                        <value>
                            <elementReference>$Label.iab__TestScenarioFieldInstructionsLabel</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>varRecTestScenario.Instructions__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Update Test Scenario</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s02</name>
        <label>Enter Details</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setDraftTestResult</targetReference>
        </connector>
        <fields>
            <name>text02a</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Provide the result of your testing:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>s02_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s02_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input02_Result</name>
                    <choiceReferences>choicesResult</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Result</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>s02_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s02_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input02_TesterFeedback</name>
                    <extensionName>iab:imhotepFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>tooltipText</name>
                        <value>
                            <elementReference>$Label.iab__TestResultFieldTesterFeedbackHelp</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labelText</name>
                        <value>
                            <elementReference>$Label.iab__TestResultFieldTesterFeedbackLabel</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>s02_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s02_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input02_AssignedTester</name>
                    <choiceReferences>choicesProjectMembers</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getProjectMemberForCurrentUser.Id</elementReference>
                    </defaultValue>
                    <fieldText>Assigned Tester</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s02_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input02_NotifyByEmail</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Notify assigned project member by email</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Report Test Result</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s03</name>
        <label>Confirm Delete</label>
        <locationX>2690</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>deleteTestScenario</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_text01a</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;Are you sure you want to delete this Test Scenario?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px;&quot;&gt;This will also delete any the of Test Results reported for this Test Scenario.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Delete Test Scenario</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s04</name>
        <label>Enter Details</label>
        <locationX>2162</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setDraftNewTestScenario</targetReference>
        </connector>
        <fields>
            <name>text04a</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Please modify the below details for your new test scenario:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>s04_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s04_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input04_Status</name>
                    <choiceReferences>choicesStatus</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Not Ready to Test</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>s04_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s04_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input04_Description</name>
                    <extensionName>iab:imhotepFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>tooltipText</name>
                        <value>
                            <elementReference>$Label.iab__TestScenarioFieldDescriptionHelp</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labelText</name>
                        <value>
                            <elementReference>$Label.iab__TestScenarioFieldDescriptionLabel</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>varRecTestScenario.Description__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>s04_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s04_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input04_ExpectedResult</name>
                    <extensionName>iab:imhotepFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>labelText</name>
                        <value>
                            <elementReference>$Label.iab__TestScenarioFieldExpectedResultLabel</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tooltipText</name>
                        <value>
                            <elementReference>$Label.iab__TestScenarioFieldExpectedResultHelp</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>varRecTestScenario.Expected_Result__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>s04_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s04_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>input04_Instructions</name>
                    <extensionName>iab:imhotepFlowRichText</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>tooltipText</name>
                        <value>
                            <elementReference>$Label.iab__TestScenarioFieldInstructionsHelp</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>labelText</name>
                        <value>
                            <elementReference>$Label.iab__TestScenarioFieldInstructionsLabel</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>varRecTestScenario.Instructions__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Test Scenario</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2564</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getTestScenario</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Check to see if the current user is a Builder of the project.</description>
        <name>subflowCheckRole</name>
        <label>Check Role</label>
        <locationX>2690</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>decIsCurrentUserAuthorized</targetReference>
        </connector>
        <flowName>Imhotep_General_CheckProjectMemberRole</flowName>
        <inputAssignments>
            <name>inputProjectId</name>
            <value>
                <elementReference>getTestScenario.Story__r.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRequiredRole</name>
            <value>
                <stringValue>Builder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>subflowHandleScreenError</name>
        <label>Handle Screen Error</label>
        <locationX>3482</locationX>
        <locationY>2306</locationY>
        <flowName>Imhotep_General_ScreenFlowError</flowName>
        <inputAssignments>
            <name>inputFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputShowErrorScreen</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>subflowSendEmail_TestResultAssigned</name>
        <label>Send Email (TestResultAssigned)</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>decSendEmail_TestResultReported</targetReference>
        </connector>
        <flowName>Imhotep_General_SendEmail</flowName>
        <inputAssignments>
            <name>inputEmailType</name>
            <value>
                <stringValue>TestResultAssigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecipientUserId</name>
            <value>
                <elementReference>varDraftTestResult.Tester__r.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>varDraftTestResult.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>subflowSendEmail_TestResultReported</name>
        <label>Send Email (TestResultReported)</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <flowName>Imhotep_General_SendEmail</flowName>
        <inputAssignments>
            <name>inputEmailType</name>
            <value>
                <stringValue>TestResultReported</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecipientUserId</name>
            <value>
                <elementReference>varDraftTestResult.Story__r.Assigned__r.User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>varDraftTestResult.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Acceptable values include:  EditTestScenario, NewTestResults, StatusNotReady, StatusReady, StatusCompleted</description>
        <name>inputSelectedAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Story record Id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDraftTestResult</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Test_Result__c</objectType>
    </variables>
    <variables>
        <name>varRecDraftNewTestScenario</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Test_Scenario__c</objectType>
    </variables>
    <variables>
        <name>varRecTestScenario</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Test_Scenario__c</objectType>
    </variables>
</Flow>
